Repository mindee/doctr, pull requests merged in 2021-10, with the labels that each got.

#519 docs: Restructured documentation
  README.md
  docs/source/index.rst
  docs/source/models.rst
  docs/source/using_model_export.rst
  docs/source/using_models.rst
  doctr/models/detection/zoo.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
Labels: documentation, enhancement

#520 chore: Post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: documentation, topic: build

#514 adding an Arabic vocab file
  doctr/datasets/vocabs.py
Labels: enhancement, module: datasets, topic: text recognition

#522 fix: evaluation script clipping issue
  scripts/evaluate.py
Labels: bug, module: scripts

#523 feat: Benchmark of crnn_mobilenet_v3 small
  docs/source/using_models.rst
Labels: documentation, framework: pytorch, framework: tensorflow, topic: text recognition

#551 feat: add flag export_as_straight_boxes in doc builder & OCR predictor
  doctr/models/builder.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  test/common/test_models_builder.py
  test/tensorflow/test_models_zoo_tf.py
Labels: enhancement, module: models, breaking change, framework: pytorch, framework: tensorflow

#560 docs: Updated CONTRIBUTING and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
Labels: documentation, enhancement
