Repository mindee/doctr, pull requests merged in 2021-03, with the labels that each got.

#106 docs: Added model zoo table in documentation
  README.md
  docs/source/models.rst
Labels: documentation, enhancement

#107 feat: add sar teacher forcing
  doctr/models/recognition/sar.py
  test/test_models_recognition.py
Labels: enhancement, module: models

#108 fix: pad teacher forcing
  doctr/models/recognition/sar.py
Labels: bug, module: models

#110 feat: Add recognition metric (exact match)
  doctr/utils/__init__.py
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: module: utils

#111 feat: Added pretrained weights for SAR
  doctr/models/recognition/sar.py
Labels: enhancement, module: models

#112 add: default url crnn
  doctr/models/recognition/crnn.py
Labels: module: models

#114 chore: Post release modifications
  README.md
  docs/source/installing.rst
  setup.py
Labels: documentation, topic: build

#119 fix: Fixed edge case of result export when there is no detection
  doctr/models/core.py
  test/test_models.py
Labels: bug, critical, module: models

#120 fix: reco metric self typo
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: bug

#122 feat: add end-to-end OCR metric
  docs/source/utils.rst
  doctr/utils/metrics.py
  requirements.txt
  setup.py
  test/test_utils_metrics.py
Labels: module: utils

#125 docs: Updated README
  README.md
Labels: documentation, enhancement

#128 refactor: changed Levenshtein distance package (textdistance --> RapidFuzz)
  doctr/utils/metrics.py
  requirements.txt
  setup.py
Labels: module: utils

#129 add: new pretrained dbnet
  doctr/models/detection/differentiable_binarization.py
Labels: module: models

#130 fix: dbnet default postprocessor params
  doctr/models/detection/differentiable_binarization.py
Labels: module: models, quickfix

#132 feat: add resnet-31 backbone for SAR
  doctr/models/recognition/sar.py
  doctr/models/recognition/zoo.py
  test/test_models_recognition.py
Labels: module: models

#133 feat: add mean & std for detection preprocessor
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/zoo.py
Labels: module: datasets

#135 chore: Updated environment collection
  .github/ISSUE_TEMPLATE/bug_report.md
  scripts/collect_env.py
Labels: module: scripts

#136 feat: Added FUNSD dataset
  docs/source/datasets.rst
  docs/source/index.rst
  doctr/datasets/__init__.py
  doctr/datasets/core.py
  doctr/datasets/funsd.py
  doctr/models/utils.py
  test/test_datasets.py
  test/test_datasets_utils.py
Labels: documentation, enhancement, module: datasets, module: test

#137 feat: Simplified repr of NestedObject when they have an empty list of children
  doctr/utils/repr.py
  test/test_documents_elements.py
Labels: enhancement, module: test, module: utils

#138 docs: Fixed multi-versions doc build
  docs/build.sh
Labels: bug, documentation

#139 fix: Fixed edge case of bounding box computation
  doctr/models/detection/differentiable_binarization.py
  mypy.ini
  test/test_models_detection.py
Labels: bug, module: models

#140 fix: edge case intersection iou metric
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: bug, module: utils

#142 chore: Added a CI job to check that analysis script works
  .github/workflows/main.yml
  scripts/analyze.py
Labels: module: scripts, topic: ci

#141 feat: Added evaluation script
  doctr/datasets/funsd.py
  doctr/utils/metrics.py
  mypy.ini
  scripts/analyze.py
  scripts/evaluate.py
  test/test_datasets.py
Labels: benchmark, enhancement, module: datasets, module: scripts, module: test, module: utils

#143 feat: add model perf + changed default cfgs
  docs/source/models.rst
  doctr/models/recognition/core.py
  doctr/models/recognition/sar.py
  doctr/models/zoo.py
  test/test_models_recognition.py
Labels: benchmark, module: models

#145 feat: Added detection and recognition metric to the evaluation script
  doctr/models/_utils.py
  scripts/evaluate.py
  test/test_models.py
Labels: enhancement, module: models, module: scripts

#146 feat: Added minimal demo app for text detection
  README.md
  demo/app.py
  demo/requirements.txt
Labels: demo app, documentation, topic: ci

#147 docs: Fixed dataset docstrings
  doctr/datasets/core.py
  doctr/datasets/funsd.py
Labels: documentation, module: datasets

#149 feat: benchmark google aws
  docs/source/models.rst
Labels: benchmark, documentation, module: datasets

#148 feat: add resnet31_crnn recognition model
  doctr/models/recognition/crnn.py
  doctr/models/recognition/zoo.py
  test/test_models_recognition.py
Labels: module: models

#151 fix: Fixed evaluation script
  scripts/evaluate.py
Labels: bug, module: scripts

#150 feat: update model cfg with mean & std
  README.md
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
  scripts/analyze.py
  test/test_models.py
Labels: module: models

#152 feat: Added proper kernel sizing to silence loading warnings
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
Labels: enhancement, module: models

#153 chore: Fixed CI pypi automatic publish upon release
  .github/workflows/pkg-upload.yaml
Labels: topic: build, topic: ci

#154 docs: Improved documentation
  README.md
  docs/source/datasets.rst
  docs/source/installing.rst
  doctr/datasets/funsd.py
  doctr/utils/metrics.py
Labels: documentation, enhancement

#155 fix: postprocessor parameter
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
Labels: documentation, module: models

#156 fix: Fixed pretrained models
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
Labels: bug, module: models

#157 fix: cv2.findContours param
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
Labels: module: models

#158 docs: Added documentation about model evaluation
  docs/source/conf.py
  docs/source/datasets.rst
  docs/source/models.rst
  docs/source/utils.rst
  doctr/utils/metrics.py
Labels: documentation, module: models, module: utils

#159 chore: Post-release modifications
  .github/workflows/pkg-upload.yaml
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  setup.py
Labels: documentation, topic: build, topic: ci

#160 feat: add crnn_resnet31
  docs/source/models.rst
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  doctr/models/zoo.py
  test/test_models.py
Labels: enhancement, module: models

#161 feat: add core detection data loader
  doctr/datasets/__init__.py
  doctr/datasets/loaders/__init__.py
  doctr/datasets/loaders/detection/__init__.py
  doctr/datasets/loaders/detection/core.py
  test/conftest.py
  test/test_datasets_loaders.py
Labels: module: datasets

#165 feat: Added SROIE dataset from ICDAR2019
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/core.py
  doctr/datasets/funsd.py
  doctr/datasets/sroie.py
  doctr/models/utils.py
  test/test_datasets.py
Labels: documentation, enhancement, module: datasets, module: test

#169 refactor: Refactored task predictors
  README.md
  demo/app.py
  docs/source/_static/css/mindee.css
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
  scripts/analyze.py
  scripts/evaluate.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_recognition.py
Labels: demo app, documentation, enhancement, module: models, module: scripts, module: test

#162 feat: add DB data loader
  doctr/datasets/loaders/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/preprocessor.py
  test/test_datasets_loaders.py
  test/test_models.py
  test/test_models_detection.py
Labels: module: datasets

#170 refactor: Changed predictor call args to list of pages
  README.md
  doctr/models/core.py
  doctr/models/zoo.py
  scripts/analyze.py
  scripts/evaluate.py
  test/test_models.py
Labels: documentation, enhancement, module: models, module: scripts, module: test

#163 feat: add core recognition loader
  doctr/datasets/loaders/__init__.py
  doctr/datasets/loaders/detection.py
  doctr/datasets/loaders/detection/__init__.py
  doctr/datasets/loaders/recognition.py
  doctr/models/detection/differentiable_binarization.py
  test/test_datasets_loaders.py
  test/test_models_detection.py
Labels: module: datasets

#172 feat: Expanded support of file reading
  README.md
  docs/source/documents.rst
  doctr/documents/reader.py
  scripts/analyze.py
  scripts/evaluate.py
  test/test_documents_reader.py
Labels: documentation, module: documents, module: scripts, module: test

#173 feat: Added figure scale while preserving aspect ratio
  README.md
  doctr/utils/visualization.py
Labels: documentation, enhancement, module: utils

#175 feat: add reset() method for metrics
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: module: utils

#171 feat: add loss in DB model
  doctr/models/detection/differentiable_binarization.py
  test/test_models_detection.py
Labels: module: models

#164 feat: add recognition training script
  references/recognition/README.md
  references/recognition/train.py
Labels: references

#176 fix: Fixed IoU computation for zero-sized inputs
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: bug, module: utils

#177 fix: typo evaluation script + edge case metrics + resize
  doctr/models/recognition/core.py
  doctr/utils/metrics.py
  scripts/evaluate.py
Labels: bug, module: models, module: scripts, module: utils

#179 fix: Added default TF gpu memory growth
  demo/app.py
  scripts/analyze.py
  scripts/evaluate.py
Labels: bug, demo app, module: scripts

#180 fix: preprocessing (normalize) in training scripts
  doctr/models/detection/differentiable_binarization.py
  references/detection/train.py
  references/recognition/train.py
Labels: bug, module: scripts

#183 feat: Added image support and model selection to demo app
  demo/app.py
Labels: demo app, enhancement

#182 docs: Improved README & documentation
  README.md
  docs/source/documents.rst
  doctr/documents/reader.py
  doctr/models/recognition/crnn.py
Labels: documentation, enhancement

#184 feat: Added sequence encoding
  docs/source/datasets.rst
  doctr/datasets/utils.py
  test/test_datasets_utils.py
Labels: documentation, enhancement, module: datasets, module: test

#185 feat: add SAR loss
  doctr/models/recognition/sar.py
  test/test_models_recognition.py
Labels: module: models

#186 feat: add loss for CRNN
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  test/test_models_recognition.py
Labels: module: models

#188 feat: Added both localization & end-to-end visualization in demo app
  README.md
  demo/app.py
  doctr/documents/elements.py
  doctr/utils/visualization.py
  scripts/analyze.py
  test/test_utils_visualization.py
Labels: demo app, documentation, module: utils
