Repository mindee/doctr, pull requests merged in 2021-09, with the labels that each got.

#456 chore: Added CI jobs to check evaluate, collect_env & demo
  .github/workflows/demo.yml
  .github/workflows/scripts.yml
  scripts/evaluate.py
Labels: topic: ci, module: scripts, module: demo

#457 chore: Added CI jobs to check classification training
  .github/workflows/demo.yml
  .github/workflows/references.yml
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
Labels: topic: ci, module: references, topic: character classification

#458 fix: Fixed PyTorch tensor cropping and extended script support
  .github/workflows/scripts.yml
  doctr/models/_utils.py
  doctr/models/core.py
  scripts/analyze.py
  scripts/evaluate.py
Labels: critical, topic: ci, module: models, module: scripts, framework: pytorch

#459 docs: add GIF in README and logo in Doc
  README.md
  docs/source/_static/images/Logo-docTR-white.png
  docs/source/conf.py
Labels: documentation, enhancement

#461 fix: Fixed cropping mode in predictor
  doctr/models/core.py
Labels: bug, critical, module: models, framework: tensorflow

#460 chore: Updated Pillow version constraints to avoid vulnerability
  requirements-pt.txt
  requirements.txt
  setup.py
Labels: topic: build

#462 docs: Fixed broken URL in README
  README.md
Labels: bug, documentation

#463 refactor: Removed models.export and added instructions in the documentation
  docs/source/models.rst
  doctr/models/__init__.py
  doctr/models/export.py
  test/tensorflow/test_models_export_tf.py
Labels: documentation, module: models, module: test, breaking change, framework: tensorflow

#464 feat: Added portuguese entry in VOCAB
  doctr/datasets/vocabs.py
Labels: enhancement, module: datasets

#467 refactor: Refactored VOCABs
  docs/source/datasets.rst
  doctr/datasets/vocabs.py
  doctr/models/backbones/mobilenet/pytorch.py
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
Labels: enhancement, module: models, module: datasets, framework: pytorch, framework: tensorflow, topic: text recognition, topic: character classification

#466 docs: Added favicon to the documentation
  docs/source/_static/images/favicon.ico
  docs/source/conf.py
  docs/source/installing.rst
Labels: documentation, enhancement

#468 refactor: Deprecated crnn_resnet31 and sar_vgg16_bn
  demo/app.py
  docs/source/models.rst
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/zoo.py
  test/pytorch/test_models_recognition_pt.py
  test/tensorflow/test_models_recognition_tf.py
  test/tensorflow/test_models_tf.py
Labels: documentation, module: models, module: test, breaking change, module: demo, framework: pytorch, framework: tensorflow, topic: text recognition

#470 chore: Removed some CI jobs with macOS
  .github/workflows/demo.yml
  .github/workflows/scripts.yml
Labels: enhancement, topic: ci, os: mac

#469 chore: Added CI job to check recognition training
  .github/workflows/references.yml
  references/recognition/README.md
Labels: topic: ci, module: references, framework: pytorch, framework: tensorflow, topic: text recognition

#465 feat: Add crop splitting in recognition predictor for high aspect-ratio boxes
  doctr/models/recognition/__init__.py
  doctr/models/recognition/core.py
  doctr/models/recognition/utils.py
  requirements-pt.txt
  requirements.txt
  setup.py
  test/common/test_models_recognition.py
Labels: enhancement, module: models, topic: text recognition

#471 docs: performances update following up the crop splitting feature
  docs/source/models.rst
Labels: documentation

#472 feat: Improved font resolution and page synthesis
  README.md
  docs/source/utils.rst
  doctr/datasets/classification/base.py
  doctr/io/elements.py
  doctr/models/recognition/__init__.py
  doctr/utils/fonts.py
  doctr/utils/visualization.py
  test/common/test_io_elements.py
  test/common/test_utils_fonts.py
  test/common/test_utils_visualization.py
Labels: documentation, enhancement, module: io, module: utils, breaking change, module: datasets

#473 fix: Prevents rounding errors in RandomCrop
  doctr/transforms/modules/base.py
Labels: bug, module: transforms

#475 docs: Updated documentation
  docs/source/conf.py
  docs/source/datasets.rst
  docs/source/index.rst
  docs/source/installing.rst
  docs/source/utils.rst
Labels: documentation, enhancement

#477 Fix: typo in demo import
  demo/app.py
Labels: bug, module: demo

#474 refactor: evaluate scripts and OCRDataset
  doctr/datasets/ocr.py
  scripts/evaluate.py
  test/conftest.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_tf.py
Labels: module: scripts, breaking change, module: datasets

#481 refactor: Refactored API of doctr.models
  api/app/routes/detection.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
  demo/app.py
  doctr/models/__init__.py
  doctr/models/builder.py
  doctr/models/core.py
  doctr/models/detection/__init__.py
  doctr/models/detection/core.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/predictor/__init__.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/predictor/tensorflow.py
  doctr/models/detection/zoo.py
  doctr/models/predictor/__init__.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/core.py
  doctr/models/recognition/predictor/__init__.py
  doctr/models/recognition/predictor/base.py
  doctr/models/recognition/predictor/pytorch.py
  doctr/models/recognition/predictor/tensorflow.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
  scripts/analyze.py
  scripts/evaluate.py
  test/common/test_models.py
  test/common/test_models_builder.py
  test/common/test_models_recognition_utils.py
  test/common/test_utils_fonts.py
  test/pytorch/test_models_detection_pt.py
  test/pytorch/test_models_recognition_pt.py
  test/pytorch/test_models_utils_pt.py
  test/tensorflow/test_models_detection_tf.py
  test/tensorflow/test_models_recognition_tf.py
  test/tensorflow/test_models_tf.py
  test/tensorflow/test_models_utils_tf.py
Labels: enhancement, module: models, module: test, module: demo, module: api, framework: pytorch, framework: tensorflow

#483 feat: Added rectangular stride MobileNets
  doctr/models/backbones/mobilenet/pytorch.py
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
Labels: critical, module: models, framework: pytorch, framework: tensorflow, topic: text recognition, topic: character classification

#485 feat: add db_mobilenet_v3_large (TF) ckpt & benchmark
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization/tensorflow.py
Labels: documentation, enhancement, module: models, framework: tensorflow, topic: text detection

#484 fix: extract_(r)crops for pytorch predictor (channels_last=False)
  doctr/models/_utils.py
  test/common/test_models.py
Labels: bug, module: models, framework: pytorch, topic: text detection

#487 feat: add pytorch ckpts for crnn & mobilenet_v3_large
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/recognition/crnn/pytorch.py
Labels: enhancement, module: models, framework: pytorch, topic: text detection, topic: text recognition

#489 feat: add ckpts for DB resnet50 in torch
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: enhancement, module: models, framework: pytorch, topic: text detection

#493 chore: Updated author_email in setup
  setup.py
Labels: documentation, topic: build

#492 Misc fixed to Streamlit demo
  demo/requirements.txt
Labels: topic: build, module: demo

#494 chore: Fixed requirements for the API template & training scripts
  api/requirements.txt
  references/requirements.txt
Labels: bug, topic: build, module: references, module: api

#496 fix: Fixed support of characters out of latin-1 in page synthesis
  doctr/utils/visualization.py
Labels: bug, module: utils

#497 fix: Fixed inconsistency of export when nothing is detected
  doctr/models/builder.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  test/common/test_models_builder.py
Labels: enhancement, critical, module: models, framework: pytorch, framework: tensorflow

#498 chore: Split common, torch & tensorflow unittests
  .github/workflows/main.yml
Labels: enhancement, topic: ci

#499 test: Added unittest for PyTorch high-level zoo
  test/pytorch/test_models_zoo_pt.py
  test/tensorflow/test_models_zoo_tf.py
Labels: module: test, framework: pytorch

#503 chore: Fixed coverage upload of TF unittests
  .github/workflows/main.yml
Labels: critical, topic: ci

#500 feat: Added ancient Greek vocab
  doctr/datasets/vocabs.py
Labels: enhancement, module: datasets

#502 feat: Added option to select vocab for training
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: references

#501 Add Hugging Face demo shield
  README.md
Labels: documentation, module: demo

#504 docs: Fixed READMEs of training scripts
  references/classification/README.md
  references/recognition/README.md
Labels: documentation, module: references

#491 refactor: Refactored detection set and adds CI check
  .github/workflows/references.yml
  doctr/datasets/detection.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  references/detection/README.md
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/requirements.txt
  test/conftest.py
  test/pytorch/test_datasets_pt.py
  test/pytorch/test_models_detection_pt.py
  test/tensorflow/test_datasets_tf.py
  test/tensorflow/test_models_detection_tf.py
Labels: documentation, module: models, breaking change, module: datasets, module: references, topic: text detection

#507 refactor: Removed unused imports
  doctr/models/backbones/mobilenet/pytorch.py
  doctr/models/builder.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
Labels: enhancement, module: models

#506 chore: Fixed coverage upload of common
  .github/workflows/main.yml
Labels: critical, topic: ci

#517 feat: add crnn_mobilenet_v3_small tf ckpts
  doctr/models/recognition/crnn/tensorflow.py
Labels: enhancement, module: models, framework: tensorflow, topic: text recognition

#516 feat: add crnn_mobilenet small & large ckpts for torch backend
  doctr/models/recognition/crnn/pytorch.py
Labels: enhancement, module: models, framework: pytorch, topic: text recognition
