Repository mindee/doctr, pull requests merged in 2021-08, with the labels that each got.

#394 feat: add gradient clipping for pytorch scripts
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
Labels: enhancement, framework: pytorch, references

#384 feat: add a draw_boxes function for detection task only
  doctr/utils/visualization.py
  test/common/test_utils_visualization.py
Labels: enhancement, module: utils

#372 feat: add MobilenetV3 (Tensorflow)
  doctr/models/backbones/__init__.py
  doctr/models/backbones/mobilenet/__init__.py
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/utils/tensorflow.py
  test/tensorflow/test_models_backbones_tf.py
Labels: enhancement, module: models

#395 feat: new CRNN ckpts
  docs/source/models.rst
  doctr/models/recognition/crnn/tensorflow.py
Labels: documentation, enhancement, framework: tensorflow, module: models

#396 feat: new MASTER ckpts
  docs/source/models.rst
  doctr/models/recognition/master/tensorflow.py
Labels: documentation, enhancement, framework: tensorflow, module: models

#397 fix: LR scheduler's final LR in TF scripts
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: framework: tensorflow, references

#398 feat: enable mobilenet backbone for crnn models
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  test/pytorch/test_models_recognition_pt.py
  test/tensorflow/test_models_backbones_tf.py
  test/tensorflow/test_models_recognition_tf.py
Labels: enhancement, module: models, framework: pytorch, framework: tensorflow

#400 feat: add MASTER in streamlit demo
  demo/app.py
Labels: enhancement, topic: demo

#399 feat: enable mobilenet backbone for TF DBnet
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  test/tensorflow/test_models_detection_tf.py
Labels: enhancement, module: models, framework: tensorflow

#404 fix: WeasyPrint version compatibility with Python 3.7
  requirements.txt
  setup.py
Labels: bug, critical, module: io

#407 feat: Added support of new label format in datasets
  doctr/datasets/datasets/base.py
  doctr/datasets/ocr.py
  test/common/test_datasets.py
  test/conftest.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_tf.py
Labels: enhancement, module: datasets

#410 fix: Fixed framework alignment on MobileNet V3 implementations
  doctr/models/backbones/mobilenet/tensorflow.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/utils/tensorflow.py
  test/tensorflow/test_models_backbones_tf.py
Labels: enhancement, module: models, framework: tensorflow

#412 feat: Added character generator dataset
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/classification/__init__.py
  doctr/datasets/classification/base.py
  doctr/datasets/classification/pytorch.py
  doctr/datasets/classification/tensorflow.py
  doctr/datasets/loader.py
  doctr/io/image/pytorch.py
  doctr/io/image/tensorflow.py
  test/pytorch/test_datasets_pt.py
  test/pytorch/test_io_image_pt.py
  test/tensorflow/test_datasets_tf.py
  test/tensorflow/test_io_image_tf.py
Labels: enhancement, module: io, module: test, module: datasets, framework: pytorch, framework: tensorflow

#413 chore: Constrained matplotlib version
  requirements-pt.txt
  requirements.txt
  setup.py
Labels: bug, topic: build, topic: docker

#415 feat: Added pretrained PyTorch mobilenets
  doctr/models/backbones/mobilenet/__init__.py
  doctr/models/backbones/mobilenet/pytorch.py
  test/pytorch/test_models_backbones_pt.py
Labels: module: models, module: test, framework: pytorch

#420 fix: tf mobilenet classification head + loss classifier
  doctr/models/backbones/mobilenet/tensorflow.py
  references/classification/train_tensorflow.py
Labels: bug, module: models, references

#424 fix: Fixed config for mobilenet_v3_large in PyTorch
  doctr/models/backbones/mobilenet/pytorch.py
Labels: bug, module: models

#419 feat: add tax form us evaluations
  docs/source/models.rst
Labels: documentation

#425 fix: Fixed PyTorch param loading
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/recognition/crnn/pytorch.py
Labels: critical, module: models, framework: pytorch

#418 fix: default font writer for character classification dataset
  doctr/datasets/classification/base.py
Labels: module: datasets

#427 fix: Fixed GPU selection in PyTorch training scripts
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
Labels: bug, critical, module: references, framework: pytorch

#447 refactor: Specified imports of file_utils in __init__.py
  doctr/models/backbones/resnet/__init__.py
  doctr/models/backbones/vgg/__init__.py
  doctr/models/recognition/sar/__init__.py
Labels: enhancement, module: models

#452 chore: Fixed dataset submodule import
  doctr/__init__.py
Labels: bug, module: datasets, framework: pytorch

#448 feat: add RandomCrop module in transforms
  docs/source/transforms.rst
  doctr/transforms/modules/base.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_transforms_tf.py
Labels: documentation, enhancement, module: datasets, module: transforms, framework: pytorch, framework: tensorflow

#453 fix: Torch detection preprocessing shape
  doctr/models/detection/zoo.py
Labels: bug, critical, module: models, framework: pytorch, topic: text detection
