Repository mindee/doctr, pull requests merged in 2021-04, with the labels that each got.

#189 feat: add reco loss in training script
  references/recognition/train.py
Labels: module: scripts

#192 fix: Fixed unnecessary os.listdir for each sample
  doctr/datasets/loaders/detection.py
  doctr/datasets/loaders/recognition.py
Labels: enhancement, module: datasets

#193 refactor: Refactored data loaders
  doctr/datasets/loaders/detection.py
  doctr/datasets/loaders/recognition.py
  test/test_datasets_loaders.py
Labels: enhancement, module: datasets

#194 fix: typo script train recognition
  references/recognition/train.py
Labels: bug

#191 feat: add Linknet model
  README.md
  docs/source/models.rst
  doctr/models/backbones/resnet.py
  doctr/models/detection/__init__.py
  doctr/models/detection/linknet.py
  doctr/models/utils.py
  test/test_models_detection.py
Labels: enhancement, module: models

#195 fix: ctc loss + args train scripts
  doctr/models/recognition/crnn.py
  references/detection/train.py
  references/recognition/train.py
Labels: bug, module: models

#197 feat: add CORD dataset
  doctr/datasets/__init__.py
  doctr/datasets/cord.py
  test/test_datasets.py
Labels: module: datasets

#196 feat: add a more robust version of the detection model
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
Labels: module: models

#199 feat: add GVision & AWS textract perf. in doc
  docs/source/datasets.rst
  docs/source/models.rst
Labels: documentation

#198 feat: Added DataLoader object on top of datasets
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/cord.py
  doctr/datasets/core.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/loader.py
  doctr/datasets/loaders/__init__.py
  doctr/datasets/loaders/detection.py
  doctr/datasets/loaders/recognition.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  mypy.ini
  references/detection/train.py
  references/recognition/train.py
  test/test_datasets.py
  test/test_datasets_detection.py
  test/test_datasets_loader.py
  test/test_datasets_loaders.py
  test/test_datasets_recognition.py
Labels: documentation, enhancement, module: datasets, module: test, references

#200 feat: add linknet loss + target
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  references/detection/train.py
  test/test_models_detection.py
Labels: module: models, references

#201 feat: Added multithreading execution of data loading
  doctr/datasets/loader.py
  doctr/datasets/multithreading.py
  references/detection/train.py
  references/recognition/train.py
  test/test_datasets_multithreading.py
Labels: enhancement, module: datasets, module: test, references

#202 feat: add Linknet postprocessor
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/models/detection/zoo.py
  test/test_models_detection.py
Labels: module: models

#203 Refacto: Postprocessors
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/postprocessor.py
  doctr/models/recognition/sar.py
  references/detection/train.py
  references/recognition/train.py
Labels: module: models

#205 feat: Added basic transformations
  docs/source/conf.py
  docs/source/index.rst
  docs/source/transforms.rst
  doctr/__init__.py
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/transforms/__init__.py
  doctr/transforms/modules.py
  doctr/utils/repr.py
  references/detection/train.py
  references/recognition/train.py
  test/test_datasets.py
  test/test_datasets_detection.py
  test/test_datasets_recognition.py
  test/test_transforms.py
Labels: documentation, enhancement, module: datasets, module: scripts, module: test, module: transforms

#206 feat: add 8 transformations in transform module
  docs/source/transforms.rst
  doctr/transforms/modules.py
  test/test_transforms.py
Labels: module: transforms

#207 feat: add random transformations
  doctr/transforms/modules.py
  test/test_transforms.py
Labels: module: transforms

#209 feat: add FPS in docs
  docs/source/models.rst
  doctr/models/zoo.py
Labels: module: documents

#208 refactor: Refactored detection training script
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  references/detection/README.md
  references/detection/train.py
  references/requirements.txt
  test/test_models_detection.py
Labels: enhancement, references

#210 refactor: Refactored the recognition training script
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  references/detection/train.py
  references/recognition/train.py
Labels: enhancement, references

#211 fix: Fixed image scaling and added transformations to training
  docs/source/transforms.rst
  doctr/transforms/functional.py
  doctr/transforms/modules.py
  references/detection/train.py
  references/recognition/train.py
  test/test_transforms.py
Labels: critical, module: datasets, references

#212 fix: Fixed inplace operation in DetectionDataset
  doctr/datasets/detection.py
  references/detection/train.py
  references/recognition/train.py
Labels: critical, module: datasets, references

#214 fix: train recognition script, /255 validation dataset
  references/recognition/train.py
Labels: references

#217 fix: DB polygon orientation
  doctr/models/detection/differentiable_binarization.py
Labels: critical, module: models

#219 fix: demo app segmentation map
  demo/app.py
Labels: critical, demo app

#220 feat: Improve lines detection
  doctr/models/core.py
  test/test_models.py
Labels: enhancement, module: documents

#221 feat: Added Document reading support for URLs
  README.md
  docs/source/documents.rst
  doctr/documents/reader.py
  requirements.txt
  setup.py
  test/test_documents_reader.py
Labels: documentation, enhancement, module: documents, module: test

#222 feat: Added annotation reading for PDF documents
  README.md
  demo/app.py
  docs/source/documents.rst
  doctr/documents/reader.py
  requirements.txt
  scripts/analyze.py
  setup.py
  test/test_documents_reader.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_recognition.py
Labels: documentation, enhancement, module: documents, module: scripts, module: test

#224 feat: add blocks detection
  doctr/models/core.py
  test/test_models.py
Labels: enhancement, module: documents

#226 fix: dtype target["boxes"] for CORD and FUNSD
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  scripts/evaluate.py
Labels: bug, module: datasets

#227 fix: Fixed localization metric update
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: bug, module: utils

#228 feat: Improved training script
  .gitignore
  doctr/models/detection/differentiable_binarization.py
  references/detection/train.py
  references/recognition/train.py
Labels: enhancement, module: scripts

#229 feat: Improved error when read_pdf gets an incorrect path
  doctr/documents/reader.py
  test/test_documents_reader.py
Labels: enhancement, module: documents, module: test
