Repository mindee/doctr, pull requests merged in 2021-06, with the labels that each got.

#289 refactor: Avoids unnecessary computation in datasets constructors
  doctr/datasets/cord.py
  doctr/datasets/ocr.py
Labels: enhancement, module: datasets

#290 feat: Added IoU computation for masks
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: enhancement, module: test, module: utils

#291 fix: Fixed recognition output unpacking
  references/recognition/train.py
  scripts/evaluate.py
Labels: bug, module: scripts, references

#281 feat: add rotated boxes
  api/app/routes/detection.py
  docs/source/models.rst
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/ocr.py
  doctr/datasets/sroie.py
  doctr/documents/elements.py
  doctr/models/_utils.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/utils/common_types.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
  doctr/utils/visualization.py
  references/detection/train.py
  scripts/evaluate.py
  test/test_datasets.py
  test/test_datasets_detection.py
  test/test_datasets_ocr.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_recognition.py
  test/test_utils_geometry.py
  test/test_utils_metrics.py
Labels: breaking change, documentation, module: datasets, module: models, module: test, module: utils

#294 feat: improve loading time when test only
  references/detection/train.py
  references/recognition/train.py
Labels: enhancement, references

#295 refactor: Removed unused imports
  doctr/datasets/loader.py
  doctr/models/detection/core.py
  doctr/models/detection/linknet.py
  scripts/evaluate.py
Labels: enhancement

#296 feat: add edge mask in linknet compute_target
  doctr/models/detection/linknet.py
Labels: module: models

#293 feat: add support for page rotation
  api/app/routes/detection.py
  doctr/models/_utils.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  test/test_models.py
  test/test_models_detection.py
Labels: enhancement, module: models

#298 test: Fixed ColorInversion unittest
  test/test_transforms.py
Labels: module: test, module: transforms

#299 fix: Fixed CORD dataset and refactored dataset constructors
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
Labels: documentation, enhancement, module: datasets

#297 feat: add rotate_boxes in model._utils
  doctr/models/_utils.py
  doctr/models/core.py
  test/test_models.py
Labels: module: models

#301 fix: Fixed evaluation in detection script
  references/detection/train.py
Labels: bug, references

#302 refactor: Improved the W&B config
  references/detection/train.py
  references/recognition/train.py
Labels: enhancement, references

#303 chore: Updated API requirements for security
  Dockerfile-api
  api/requirements.txt
  docker-compose.yml
Labels: critical, topic: api

#300 feat: add MASTER in models.recognition module
  README.md
  docs/source/index.rst
  doctr/models/recognition/__init__.py
  doctr/models/recognition/master.py
  doctr/models/recognition/transformer.py
  test/test_models_recognition.py
Labels: enhancement, module: models

#306 feat: Added a dual framework availability checker
  .github/workflows/doc-deploy.yaml
  .github/workflows/main.yml
  .github/workflows/os-builds.yml
  Dockerfile
  Dockerfile-api
  README.md
  docs/source/installing.rst
  doctr/__init__.py
  doctr/file_utils.py
  requirements.txt
  setup.py
  test/test_core.py
Labels: critical, topic: build

#307 refactor: Removed unused import
  doctr/datasets/loader.py
Labels: enhancement, module: datasets

#304 feat: add focal loss in linknet model
  doctr/models/detection/linknet.py
  test/test_models_detection.py
Labels: enhancement, module: models

#308 style: Fixed typing annotations
  .github/workflows/main.yml
  doctr/datasets/cord.py
  doctr/datasets/core.py
  doctr/datasets/multithreading.py
  doctr/datasets/utils.py
  doctr/documents/elements.py
  doctr/documents/reader.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/models/recognition/core.py
  doctr/models/recognition/sar.py
  doctr/transforms/modules.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
  doctr/utils/visualization.py
  mypy.ini
Labels: enhancement, module: documents, module: models, module: utils, topic: build

#310 feat: Added DBNet implementation in PyTorch
  .github/workflows/main.yml
  doctr/__init__.py
  doctr/models/__init__.py
  doctr/models/detection/__init__.py
  doctr/models/detection/differentiable_binarization_pt.py
  requirements-pt.txt
  test/pytorch/test_models_detection.py
Labels: enhancement, module: models

#311 feat: Updated focal loss parameters
  doctr/models/detection/linknet.py
Labels: enhancement, module: models

#312 style: Fixed typing annotations and imports
  doctr/models/__init__.py
  doctr/models/recognition/master.py
Labels: enhancement, module: models, topic: build

#309 feat: add loss + wrapper for MASTER model
  docs/source/models.rst
  doctr/models/recognition/master.py
  doctr/models/recognition/zoo.py
  test/test_models_recognition.py
Labels: enhancement, module: models

#314 fix: Fixed framework availability check
  .github/workflows/main.yml
  .github/workflows/os-builds.yml
  .github/workflows/release.yaml
  doctr/file_utils.py
  doctr/models/detection/__init__.py
  doctr/models/recognition/master.py
  mypy.ini
  setup.py
  test/requirements.txt
Labels: critical, module: models, pytorch, topic: build, topic: ci

#313 feat: Added remaining components of DBNet
  docs/source/models.rst
  doctr/__init__.py
  doctr/models/__init__.py
  doctr/models/_utils.py
  doctr/models/detection/__init__.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/__init__.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/__init__.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/zoo.py
  doctr/models/preprocessor/__init__.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  doctr/transforms/functional/__init__.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/__init__.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  test/pytorch/test_models.py
  test/pytorch/test_models_detection.py
  test/pytorch/test_transforms.py
  test/test_models_detection.py
Labels: breaking change, enhancement, module: models, module: test, module: transforms, pytorch

#315 chore: Ensured either TF or PT is installed and enabled
  .github/workflows/builds.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yaml
  .github/workflows/main.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  README.md
  doctr/file_utils.py
Labels: documentation, enhancement, topic: build, topic: ci

#316 feat: Added layer initialization in DBNet
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: enhancement, module: models, pytorch

#317 feat: Added support of LinkNet in PyTorch
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/__init__.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/zoo.py
  doctr/models/preprocessor/tensorflow.py
  test/pytorch/test_models_detection.py
Labels: enhancement, module: models, pytorch

#321 docs: Updated CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation, enhancement

#322 feat: Added support of remaining transforms in PyTorch
  doctr/transforms/functional/__init__.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/__init__.py
  doctr/transforms/modules/base.py
  doctr/transforms/modules/tensorflow.py
  test/pytorch/test_transforms.py
Labels: framework: pytorch, module: test, module: transforms

#323 feat: Added PyTorch support to models.utils
  doctr/models/__init__.py
  doctr/models/utils/__init__.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  test/pytorch/test_models_utils.py
Labels: framework: pytorch, module: models, module: test

#325 docs: Added Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation, topic: build

#320 feat: add a drawing_page function in utils & demo
  demo/app.py
  doctr/utils/visualization.py
  mypy.ini
  requirements-pt.txt
  requirements.txt
  setup.py
  test/test_utils_visualization.py
Labels: enhancement, module: utils, topic: demo

#327 feat: Added PyTorch support of ResNet-31
  doctr/models/backbones/resnet/__init__.py
  doctr/models/backbones/resnet/pytorch.py
  doctr/models/backbones/resnet/tensorflow.py
  doctr/models/backbones/vgg/__init__.py
  doctr/models/backbones/vgg/tensorflow.py
  doctr/models/utils/pytorch.py
  test/pytorch/test_models_backbones.py
  test/pytorch/test_models_utils.py
Labels: framework: pytorch, module: models, module: test

#328 feat: Added PyTorch support of VGG backbones
  doctr/models/backbones/vgg/__init__.py
  doctr/models/backbones/vgg/pytorch.py
  test/pytorch/test_models_backbones.py
Labels: framework: pytorch, module: models, module: test

#318 feat: add support of CRNN in Pytorch
  doctr/models/recognition/__init__.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn/__init__.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master.py
  doctr/models/recognition/sar.py
  test/pytorch/test_models_recognition.py
Labels: enhancement, framework: pytorch, module: models

#333 feat: Added PyTorch support of SAR
  doctr/models/__init__.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master.py
  doctr/models/recognition/sar/__init__.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/zoo.py
  test/pytorch/test_models_recognition.py
Labels: framework: pytorch, module: models

#329 feat: added Pytorch support of MASTER
  doctr/datasets/utils.py
  doctr/models/backbones/resnet/pytorch.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/master/__init__.py
  doctr/models/recognition/master/base.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/__init__.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
  test/pytorch/test_models_recognition.py
  test/test_datasets_utils.py
Labels: enhancement, framework: pytorch, module: models
