Repository mindee/doctr, pull requests merged in 2021-07, with the labels that each got.

#332 feat: add filter_boxes method
  doctr/documents/elements.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
  test/test_utils_geometry.py
  test/test_utils_metrics.py
Labels: enhancement, module: models

#336 refactor: Cleaned import and typing annotations
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/models/backbones/vgg/pytorch.py
  doctr/models/detection/linknet/base.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/recognition/core.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/transforms/modules/tensorflow.py
Labels: enhancement, module: datasets, module: models, module: transforms

#324 Orient images before processing OCR
  doctr/models/_utils.py
  test/test_models.py
Labels: enhancement, module: models

#337 test: Fixed unittest image
  test/test_documents_reader.py
Labels: module: test, topic: ci

#335 fix: bug in MASTER loss
  doctr/datasets/utils.py
  doctr/models/recognition/master/base.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
  test/pytorch/test_models_recognition.py
  test/test_datasets_utils.py
Labels: bug, enhancement, framework: tensorflow, module: datasets, module: models

#338 test: Cleaned test folder
  CONTRIBUTING.md
  test/common/test_core.py
  test/common/test_datasets.py
  test/common/test_datasets_utils.py
  test/common/test_documents_elements.py
  test/common/test_documents_reader.py
  test/common/test_models.py
  test/common/test_models_artefacts.py
  test/common/test_models_detection.py
  test/common/test_utils_geometry.py
  test/common/test_utils_metrics.py
  test/common/test_utils_visualization.py
  test/pytorch/test_datasets_pt.py
  test/pytorch/test_models_backbones_pt.py
  test/pytorch/test_models_detection_pt.py
  test/pytorch/test_models_pt.py
  test/pytorch/test_models_recognition_pt.py
  test/pytorch/test_models_utils_pt.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_datasets_detection_tf.py
  test/tensorflow/test_datasets_loader_tf.py
  test/tensorflow/test_datasets_multithreading_tf.py
  test/tensorflow/test_datasets_ocr_tf.py
  test/tensorflow/test_datasets_recognition_tf.py
  test/tensorflow/test_datasets_tf.py
  test/tensorflow/test_models_backbones_tf.py
  test/tensorflow/test_models_detection_tf.py
  test/tensorflow/test_models_export_tf.py
  test/tensorflow/test_models_recognition_tf.py
  test/tensorflow/test_models_tf.py
  test/tensorflow/test_models_utils_tf.py
  test/tensorflow/test_transforms_tf.py
Labels: enhancement, module: test

#339 fix: invert_colorize
  test/pytorch/test_transforms_pt.py
Labels: bug, module: test

#340 feat: add loss + MASTERPostProcessor in Pytorch
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  test/pytorch/test_models_recognition_pt.py
Labels: enhancement, framework: pytorch, module: models

#342 refactor: Refactored MASTER logits decoding
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: models

#344 docs: Updated README and documentation
  README.md
  docs/source/_static/css/mindee.css
  docs/source/datasets.rst
  docs/source/index.rst
  docs/source/models.rst
Labels: documentation

#345 feat: Added PyTorch & torchvision to environment collection
  .github/ISSUE_TEMPLATE/bug_report.md
  scripts/collect_env.py
Labels: enhancement, module: scripts

#346 chore: Post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: documentation, topic: build

#350 feat: add bottleneck ratio in MASTER
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: models

#348 docs: Add export example in README
  README.md
  docs/source/documents.rst
  docs/source/models.rst
Labels: documentation, enhancement

#349 feat: add dropout in MASTER
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: models

#351 chore: Fixed trigger of script testing job
  .github/workflows/scripts.yml
Labels: bug, topic: ci

#356 refactor: Renamed MASTER feature extractor attribute
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: models

#357 fix: Fixed Resize transfo in PyTorch when aspect ratio matches the target
  doctr/transforms/modules/pytorch.py
  test/pytorch/test_transforms_pt.py
Labels: bug, framework: pytorch, module: test, module: transforms

#354 fix: Fixed support of custom datasets in PyTorch
  doctr/datasets/datasets/base.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/datasets/detection.py
  doctr/datasets/loader.py
  test/conftest.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_detection_tf.py
  test/tensorflow/test_datasets_loader_tf.py
  test/tensorflow/test_datasets_ocr_tf.py
  test/tensorflow/test_datasets_recognition_tf.py
  test/tensorflow/test_datasets_tf.py
Labels: bug, framework: pytorch, framework: tensorflow, module: datasets, module: test

#355 feat: Added box coord clipping and target validation for detection tasks
  doctr/datasets/detection.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  test/tensorflow/test_models_detection_tf.py
Labels: enhancement, module: datasets, module: models

#358 feat: add rotate in transforms
  doctr/models/_utils.py
  doctr/models/core.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/utils/geometry.py
  requirements.txt
  setup.py
  test/common/test_models.py
  test/common/test_utils_geometry.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_transforms_tf.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: transforms

#360 feat: add learning rate scheduler in TF training scripts
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: enhancement, framework: tensorflow, references

#361 fix: Fixed recognition model PyTorch versions and added GPU compatibility
  doctr/models/backbones/resnet/tensorflow.py
  doctr/models/backbones/vgg/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/zoo.py
  test/conftest.py
  test/pytorch/test_models_detection_pt.py
  test/pytorch/test_models_recognition_pt.py
  test/tensorflow/test_models_backbones_tf.py
  test/tensorflow/test_models_recognition_tf.py
Labels: bug, critical, framework: pytorch, module: models, module: test

#362 feat: Optimized data loading for PyTorch
  doctr/datasets/datasets/pytorch.py
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
  requirements-pt.txt
  setup.py
Labels: critical, enhancement, framework: pytorch, module: datasets, references

#365 fix: mypy missing import
  mypy.ini
Labels: critical, topic: ci

#367 feat: Added FP16 support to doctr.datasets
  doctr/datasets/cord.py
  doctr/datasets/datasets/base.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_tf.py
Labels: breaking change, enhancement, framework: pytorch, framework: tensorflow, module: datasets, module: test, references

#368 fix: Removed PDF forced square resize from demo & analysis script
  demo/app.py
  scripts/analyze.py
Labels: enhancement, module: scripts, topic: demo

#366 feat: add crop functional transformation
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_transforms_tf.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: transforms

#369 feat: Added page selection & JSON display to demo
  README.md
  demo/app.py
Labels: documentation, enhancement, topic: demo

#363 feat: add RandomRotate in transforms (Modules)
  docs/source/transforms.rst
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/base.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_transforms_tf.py
Labels: enhancement, module: transforms

#371 refactor: Moved multithreading to doctr.utils
  doctr/datasets/loader.py
  doctr/utils/multithreading.py
  test/common/test_utils_multithreading.py
  test/tensorflow/test_datasets_multithreading_tf.py
Labels: breaking change, module: datasets, module: test, module: utils

#375 fix: Removed extra 255 division
  doctr/datasets/datasets/tensorflow.py
Labels: bug, critical, framework: tensorflow, module: datasets

#374 fix: step count in LR scheduler
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: bug, references

#376 fix: Recognition dataset merging
  doctr/datasets/recognition.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_tf.py
Labels: enhancement, module: datasets

#370 fix: Fixed preprocessor support to torch.uint8, tf.uint8 and np.float32
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  doctr/utils/multithreading.py
  test/pytorch/test_models_preprocessor_pt.py
  test/tensorflow/test_models_preprocessor_tf.py
  test/tensorflow/test_models_tf.py
Labels: bug, module: models, module: test

#378 fix: transform test bug in CI
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
Labels: bug, module: test

#379 fix: Torch loss dimension
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/sar/pytorch.py
Labels: bug, framework: pytorch, module: models

#377 feat: reco training script with multi paths sets
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, references

#380 fix: Removed deprecated arg in training script
  references/recognition/train_tensorflow.py
Labels: bug, references

#381 feat: Added schedulers to Pytorch training scripts
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
Labels: enhancement, framework: pytorch, references

#382 feat: Added FP16 support for doctr.models
  doctr/models/_utils.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
  test/pytorch/test_models_backbones_pt.py
  test/pytorch/test_models_detection_pt.py
  test/pytorch/test_models_preprocessor_pt.py
  test/pytorch/test_models_pt.py
  test/pytorch/test_models_recognition_pt.py
  test/tensorflow/test_models_backbones_tf.py
  test/tensorflow/test_models_detection_tf.py
  test/tensorflow/test_models_preprocessor_tf.py
  test/tensorflow/test_models_recognition_tf.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: models, module: test

#386 feat: Added Element class method from export dict
  doctr/documents/elements.py
  test/common/test_documents_elements.py
Labels: enhancement, module: documents

#388 feat: Added support of fp16 to doctr.transforms
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/tensorflow.py
  doctr/utils/geometry.py
  test/pytorch/test_transforms_pt.py
  test/tensorflow/test_transforms_tf.py
Labels: enhancement, framework: pytorch, framework: tensorflow, module: transforms

#389 fix: Fixed missing import in detection training utils
  references/detection/utils.py
Labels: bug, references

#390 refactor: Moved doctr.documents to doctr.io
  README.md
  api/app/routes/detection.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
  api/app/vision.py
  demo/app.py
  docs/source/index.rst
  docs/source/io.rst
  doctr/__init__.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/documents/__init__.py
  doctr/io/__init__.py
  doctr/io/elements.py
  doctr/io/html.py
  doctr/io/image/__init__.py
  doctr/io/image/base.py
  doctr/io/image/pytorch.py
  doctr/io/image/tensorflow.py
  doctr/io/pdf.py
  doctr/io/reader.py
  doctr/models/core.py
  doctr/utils/common_types.py
  scripts/analyze.py
  test/common/test_io.py
  test/common/test_io_elements.py
  test/common/test_models.py
  test/common/test_models_artefacts.py
  test/common/test_utils_visualization.py
  test/conftest.py
  test/pytorch/test_io_image_pt.py
  test/tensorflow/test_io_image_tf.py
  test/tensorflow/test_models_detection_tf.py
  test/tensorflow/test_models_recognition_tf.py
  test/tensorflow/test_models_tf.py
Labels: breaking change, enhancement, module: io

#391 refactor: Removed unused imports
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
  test/common/test_utils_multithreading.py
  test/tensorflow/test_models_tf.py
Labels: enhancement

#392 refactor: Refactored visualization functions
  doctr/utils/visualization.py
  test/common/test_io_elements.py
  test/common/test_utils_visualization.py
Labels: enhancement, module: utils

#393 feat: Added dynamic sequence encoding
  doctr/datasets/utils.py
  test/common/test_datasets_utils.py
Labels: enhancement, module: datasets, module: test
