Repository mindee/doctr, pull requests merged in 2021-02, with the labels that each got.

#67 refactor: Reflected repo changes
  CONTRIBUTING.md
  README.md
  docs/source/installing.rst
  doctr/documents/elements.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/preprocessor.py
  doctr/models/recognition/postprocessor.py
  doctr/models/recognition/sar.py
  doctr/models/utils.py
  doctr/utils/visualization.py
  setup.py
  test/test_models.py
Labels: documentation, enhancement, module: documents, module: models, module: test, module: utils, topic: build

#62 feat: Added a full pretrained predictor for upcoming release
  doctr/models/__init__.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/postprocessor.py
  doctr/models/recognition/sar.py
  doctr/models/utils.py
  doctr/models/vgg.py
  doctr/models/zoo.py
  test/test_models.py
Labels: documentation, enhancement, module: models, module: test

#68 docs: Fixed Codefactor badge
  README.md
Labels: bug, documentation

#69 chore: Switched from CircleCI to Github Workflow
  .circleci/config.yml
  .circleci/requirements.txt
  .github/workflows/doc-deploy.yaml
  .github/workflows/gh-page.yaml
  .github/workflows/main.yml
  .github/workflows/requirements.txt
  CONTRIBUTING.md
  setup.cfg
  test/test_documents.py
Labels: critical, documentation, topic: build

#73 docs: Updated CI badges
  .github/workflows/doc-status.yaml
  .github/workflows/pkg-upload.yaml
  README.md
Labels: documentation, topic: ci

#75 test: Switched test URL to Github hosting
  test/test_models.py
Labels: bug, module: test

#63 fix: sar LSTM decoder symbol error
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
Labels: bug, module: models

#65 refactor: Changed CTC decoder from keras backend to tf.nn
  doctr/models/recognition/postprocessor.py
Labels: module: models

#76 test: Improved unittests for recognition post processors
  test/test_models.py
Labels: module: test

#70 feat: Added Resnet31 feature extractor (recognition)
  doctr/models/__init__.py
  doctr/models/resnet.py
  test/test_models.py
Labels: module: models, module: test

#77 fix: Fixed edge case of recognition crop resizing
  doctr/models/detection/core.py
  doctr/models/recognition/core.py
  doctr/models/recognition/postprocessor.py
  doctr/models/recognition/sar.py
Labels: module: models

#78 refactor: Removed unused import
  doctr/models/recognition/postprocessor.py
Labels: enhancement, module: models

#79 feat: Added clearer errors for incorrect image reading
  doctr/documents/reader.py
  test/test_documents.py
Labels: enhancement, module: documents, module: test

#80 test: Refactored unittests
  test/conftest.py
  test/test_documents_elements.py
  test/test_documents_reader.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_export.py
  test/test_models_recognition.py
  test/test_models_utils.py
  test/test_utils.py
  test/test_utils_geometry.py
  test/test_utils_visualization.py
Labels: enhancement, module: test

#81 chore: Added environment collection script
  .github/ISSUE_TEMPLATE/bug_report.md
  scripts/collect_env.py
Labels: module: scripts

#83 feat: Added PDF reading from binary stream
  doctr/documents/reader.py
  test/conftest.py
  test/test_documents_reader.py
Labels: enhancement, module: documents, module: test

#82 refactor: Refactored visualization
  doctr/utils/visualization.py
  test/test_utils_visualization.py
Labels: enhancement, module: test, module: utils

#84 Refactor: changed default cfg for both DBnet & CRNN
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/crnn.py
Labels: enhancement, module: models

#85 feat: Added pretrained models for full end-to-end OCR
  doctr/models/detection/differentiable_binarization.py
  doctr/models/recognition/crnn.py
  doctr/models/zoo.py
  scripts/analyze.py
  test/test_models.py
Labels: documentation, module: models, module: scripts, module: test

#86 docs: Added predictor to documentation
  README.md
  docs/source/models.rst
Labels: documentation

#88 docs: Fixed sphinx requirements
  docs/requirements.txt
Labels: documentation, topic: build

#87 refactor: Renamed custom type module
  doctr/documents/elements.py
  doctr/utils/__init__.py
  doctr/utils/common_types.py
  doctr/utils/geometry.py
  doctr/utils/visualization.py
Labels: enhancement, module: utils

#91 refactor: Refactored document building
  doctr/models/core.py
  test/test_models.py
Labels: enhancement, module: models, module: test

#92 test: Removed unused import
  test/test_documents_elements.py
Labels: enhancement, module: test

#93 docs: Added multiple examples in docstrings
  doctr/models/detection/differentiable_binarization.py
  doctr/models/export.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  doctr/models/resnet.py
  doctr/models/utils.py
  doctr/models/vgg.py
  doctr/models/zoo.py
  doctr/utils/visualization.py
Labels: documentation, enhancement

#95 docs: Added example script instructions in README
  README.md
  scripts/analyze.py
Labels: documentation, module: scripts

#96 docs: Added documentation of utils module
  docs/source/index.rst
  docs/source/utils.rst
Labels: documentation, module: utils

#98 feat: Added detection and recognition zoo
  doctr/models/detection/__init__.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
  test/test_models_detection.py
  test/test_models_recognition.py
Labels: enhancement, module: models

#99 docs: Improved documentation of doctr.models
  docs/source/models.rst
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
Labels: documentation, enhancement

#101 fix: Fixed activation duplication in conv_sequence
  doctr/models/utils.py
  test/test_models_utils.py
Labels: bug, module: models, module: test

#103 fix: Fixed analysis script
  scripts/analyze.py
Labels: bug, module: scripts

#102 feat: Added repr to elements
  doctr/documents/elements.py
  doctr/models/core.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/preprocessor.py
  doctr/models/recognition/core.py
  doctr/models/recognition/sar.py
  doctr/models/utils.py
  doctr/utils/repr.py
  test/test_documents_elements.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_recognition.py
  test/test_models_utils.py
Labels: documentation, enhancement, module: documents, module: models

#104 test: Added unittest for crop extraction
  test/test_models.py
Labels: enhancement, module: models, module: test
