Repository mindee/doctr, pull requests merged in 2021-12, with the labels that each got.

#664 docs: Fixed typo in the docstrings of metrics
  doctr/utils/metrics.py
Labels: bug, documentation

#665 style: Cleaned codebase with Codacy hints
  doctr/models/builder.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: models, module: references

#657 fix: rotation arg in training scripts
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: module: references, framework: pytorch, framework: tensorflow, topic: text detection

#666 feat: Added missing output classes param in DBNet
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
Labels: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#669 feat: Implements erosion & dilation in PyTorch & TF
  doctr/models/detection/_utils/__init__.py
  doctr/models/detection/_utils/pytorch.py
  doctr/models/detection/_utils/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#671 style: Renamed all compute_target to build_target
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/base.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
Labels: enhancement, module: models

#670 fix: Fixed LinkNet target & loss computation
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
Labels: bug, critical, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#672 feat: Added file existence check in DetectionDataset
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/funsd.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: enhancement, module: test, module: datasets, topic: text detection

#673 fix: pymupdf version
  requirements-pt.txt
  requirements.txt
  setup.py
Labels: topic: build

#667 fix: box angle rectification according to the quadrant
  doctr/models/detection/differentiable_binarization/base.py
Labels: bug, module: models, topic: text detection

#488 Rotate page
  doctr/models/_utils.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/utils/common_types.py
  doctr/utils/geometry.py
  doctr/utils/visualization.py
  tests/common/test_models.py
  tests/common/test_utils_geometry.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: enhancement, module: models

#660 [refactor] SROIE dataset
  doctr/datasets/sroie.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: enhancement, module: datasets

#681 fix: target_ar split crops
  docs/source/using_models.rst
  doctr/models/recognition/predictor/pytorch.py
  doctr/models/recognition/predictor/tensorflow.py
Labels: enhancement, module: models, topic: text recognition

#678 fix: rotate_boxes angle
  doctr/utils/geometry.py
Labels: bug, module: utils

#677 feat: add line resolution for rotated boxes
  doctr/models/builder.py
  tests/common/test_models_builder.py
Labels: enhancement, module: models

#682 feat: Added option to use AMP with TF scripts
  references/classification/train_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: references, framework: tensorflow

#686 docs: Added minimal docstring sanity check
  .github/workflows/style.yml
  .pydocstyle
  CONTRIBUTING.md
  Makefile
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/utils/fonts.py
  doctr/utils/metrics.py
  doctr/utils/visualization.py
  setup.py
  tests/common/test_requirements.py
Labels: documentation, enhancement, topic: build, topic: ci

#689 fix: Fixed param override of backbone
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/master/pytorch.py
Labels: bug, module: models, framework: pytorch, topic: text detection, topic: text recognition

#690 fix: Added missing AMP flags in training scripts
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
Labels: bug, module: references, framework: pytorch, topic: text detection, topic: text recognition

#692 fix: Fixed deprecation warnings from numpy & PyMuPDF
  doctr/datasets/doc_artefacts.py
  doctr/io/pdf.py
  doctr/models/_utils.py
  doctr/utils/metrics.py
  tests/common/test_models.py
Labels: enhancement, module: models, module: io, module: utils, module: tests, module: datasets

#693 fix: Added a 0-sized crop safeguard in split_crops
  doctr/models/recognition/predictor/_utils.py
Labels: bug, documentation, module: models

#687 fix: Fixed MASTER recognition architecture
  Makefile
  doctr/models/backbones/__init__.py
  doctr/models/backbones/magc_resnet/__init__.py
  doctr/models/backbones/magc_resnet/pytorch.py
  doctr/models/backbones/magc_resnet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/tensorflow.py
  tests/pytorch/test_models_backbones_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_backbones_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: bug, documentation, module: models, framework: pytorch, framework: tensorflow, topic: text recognition

#691 feat: Added support of FasterRCNN for PyTorch
  doctr/models/obj_detection/__init__.py
  doctr/models/obj_detection/faster_rcnn/__init__.py
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  references/obj_detection/train_pytorch.py
  tests/pytorch/test_models_obj_detection_pt.py
Labels: module: models, module: tests, module: references, framework: pytorch, topic: object detection

#662 ICDAR2013 dataset integration
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/ic13.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: module: datasets

#688 refactor: Removed postprocessor from high-level init
  doctr/models/detection/differentiable_binarization/__init__.py
  doctr/models/detection/linknet/__init__.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
  tests/common/test_models_detection.py
  tests/tensorflow/test_models_detection_tf.py
Labels: enhancement, module: models, module: tests

#695 fix: Added safeguard for extreme aspect ratio in Resize
  doctr/transforms/modules/pytorch.py
Labels: bug, module: models, framework: pytorch, topic: text recognition

#694 feat: Added possibility to change the cache dir of datasets
  doctr/datasets/datasets/base.py
Labels: enhancement, module: datasets

#697 fix: Fixed W&B logger in object detection training script
  references/obj_detection/train_pytorch.py
Labels: bug, module: references, topic: object detection

#700 fix: Fixed geometry utils for polygon <--> rbox conversions
  doctr/utils/geometry.py
  tests/common/test_utils_geometry.py
Labels: bug, module: utils

#698 fix: Fixed build_target for detection models with rotated targets
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: bug, critical, module: models, topic: text detection

#707 feat: Added line reading for source PDFs
  docs/source/io.rst
  doctr/io/pdf.py
  tests/common/test_io.py
Labels: documentation, enhancement, module: io, module: tests

#704 feat: Added plot_samples support to visualize the images along with the targets
  references/obj_detection/train_pytorch.py
  references/obj_detection/utils.py
Labels: enhancement, module: references, topic: object detection

#634 SVHN dataset integration
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/svhn.py
  doctr/datasets/synthtext.py
  mypy.ini
  requirements-pt.txt
  requirements.txt
  setup.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/requirements.txt
  tests/tensorflow/test_datasets_tf.py
Labels: module: datasets

#720 fix: box computing when assume straight pages is false
  doctr/models/detection/differentiable_binarization/base.py
  doctr/utils/geometry.py
  doctr/utils/visualization.py
  tests/common/test_utils_geometry.py
Labels: enhancement, module: models, module: utils, topic: text detection

#725 test: Fixed TF loss unittest
  tests/tensorflow/test_models_detection_tf.py
Labels: module: models, module: tests, framework: tensorflow, topic: object detection

#726 fix: Fixed edge cases of DB loss in PyTorch
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: bug, module: models, framework: pytorch, topic: object detection

#713 feat: Added checkpoint for obj_detection
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  tests/pytorch/test_models_obj_detection_pt.py
Labels: enhancement, module: models, module: tests, topic: object detection

#722 Mock Sroie / Funsd / Cord / Synthtext / DocArtefacts / IIIT5K / SVT / IC03 (all ^^)
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/iiit5k.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: enhancement, module: tests, module: datasets

#724 refactor: Refactored detection post-processing
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  tests/common/test_models_detection.py
Labels: enhancement, module: models, topic: object detection

#727 ci: Fixed CI job name and ignored .idea files
  .github/workflows/style.yml
  .gitignore
Labels: enhancement, topic: ci

#721 feat: add classification module for crop orientation
  docs/source/models.rst
  doctr/models/__init__.py
  doctr/models/_utils.py
  doctr/models/classification/__init__.py
  doctr/models/classification/magc_resnet/__init__.py
  doctr/models/classification/magc_resnet/pytorch.py
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/mobilenet/__init__.py
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/predictor/__init__.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/classification/predictor/tensorflow.py
  doctr/models/classification/resnet/__init__.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/classification/vgg/__init__.py
  doctr/models/classification/vgg/pytorch.py
  doctr/models/classification/vgg/tensorflow.py
  doctr/models/classification/zoo.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  references/classification/train_tensorflow.py
  tests/pytorch/test_models_backbones_pt.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_backbones_tf.py
  tests/tensorflow/test_models_classification_tf.py
Labels: enhancement, module: models, module: utils, framework: pytorch, framework: tensorflow, topic: text detection

#734 fix: Fixed computation of Mean IoU
  doctr/utils/metrics.py
  tests/common/test_utils_metrics.py
Labels: bug, module: utils, topic: text detection, topic: object detection

#723 feat: integration of the classifier in the ocr predictor
  doctr/models/_utils.py
  doctr/models/classification/zoo.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  tests/conftest.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: enhancement, module: models, framework: pytorch, framework: tensorflow

#735 test: Switch to a fully mocked PDF for unittests
  doctr/models/_utils.py
  tests/common/test_io.py
  tests/conftest.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: enhancement, topic: ci, module: tests

#733 refactor: Refactored LinkNet
  docs/source/models.rst
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/zoo.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: documentation, enhancement, module: models, breaking change, topic: object detection

#737 refactor: Renamed DataLoader arg "workers" into "num_workers"
  doctr/datasets/loader.py
  references/classification/train_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: breaking change, module: datasets, framework: tensorflow

#728 feat: Added inference+post processing script for artefact detection
  scripts/detect_artefacts.py
Labels: module: scripts, topic: object detection

#741 refactor: Unified return_preds flags across all tasks
  demo/app.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/predictor/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: module: models, module: tests, breaking change, module: api, topic: object detection

#740 test: Silenced PyMuPDF warnings
  tests/conftest.py
Labels: enhancement, module: tests

#742 fix: Fixed detection training script
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: bug, module: references, topic: object detection

#746 feat: Added latency evaluation scripts for all tasks
  .github/workflows/references.yml
  doctr/models/detection/linknet/tensorflow.py
  references/detection/latency.csv
  references/detection/latency_pytorch.py
  references/detection/latency_tensorflow.py
  references/obj_detection/latency.csv
  references/obj_detection/latency_pytorch.py
  references/recognition/latency.csv
  references/recognition/latency_pytorch.py
  references/recognition/latency_tensorflow.py
Labels: topic: ci, module: references, framework: pytorch, framework: tensorflow, topic: text detection, topic: text recognition

#745 fix: Fixed the bin_thresh of LinkNet
  doctr/models/detection/linknet/base.py
Labels: documentation, enhancement, module: models, topic: object detection

#744 test: Increased flexibility of loss test
  tests/pytorch/test_models_detection_pt.py
Labels: module: tests, framework: pytorch, topic: object detection

#750 refactor: Introduces img + target transforms in Datasets
  doctr/datasets/classification/base.py
  doctr/datasets/cord.py
  doctr/datasets/datasets/base.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/predictor/base.py
  doctr/transforms/modules/base.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
  tests/common/test_datasets.py
  tests/common/test_transforms.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: enhancement, module: tests, breaking change, module: datasets, module: references, module: transforms

#755 docs: Added colab link in the Read me for artefact detection
  notebooks/README.md
Labels: documentation, module: notebooks

#747 feat: Added LR Finder for TensorFlow scripts
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: models, module: references, framework: tensorflow, topic: text detection, topic: text recognition, topic: character classification

#753 fix: Fixed mask computation of DBNet
  doctr/models/detection/differentiable_binarization/base.py
Labels: bug, module: models, topic: text detection

#756 refactor: Removed contiguous param since it's included in torch>=1.7
  .github/workflows/references.yml
  references/classification/README.md
  references/classification/train_pytorch.py
  references/detection/README.md
  references/detection/train_pytorch.py
  references/obj_detection/train_pytorch.py
  references/recognition/README.md
  references/recognition/train_pytorch.py
Labels: topic: ci, module: references, framework: pytorch

#757 feat: Added latency evaluation & benchmark for image classification
  references/classification/latency.csv
  references/classification/latency_pytorch.py
  references/classification/latency_tensorflow.py
Labels: documentation, benchmark, module: references, framework: pytorch, framework: tensorflow, topic: character classification

#731 refactor: refactoring rotated boxes
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  doctr/io/elements.py
  doctr/models/_utils.py
  doctr/models/builder.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/utils/common_types.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
  doctr/utils/visualization.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  scripts/evaluate.py
  tests/common/test_models.py
  tests/common/test_models_builder.py
  tests/common/test_models_detection.py
  tests/common/test_utils_geometry.py
  tests/common/test_utils_metrics.py
  tests/pytorch/test_datasets_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_datasets_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_transforms_tf.py
Labels: enhancement, module: models, module: io, module: utils, breaking change, module: datasets, framework: pytorch, framework: tensorflow, topic: text detection

#758 feat: Adds GaussianBlur, random font for CharGenerator and improves training scripts
  docs/source/transforms.rst
  doctr/datasets/classification/base.py
  doctr/datasets/classification/pytorch.py
  doctr/datasets/classification/tensorflow.py
  doctr/transforms/modules/tensorflow.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  tests/tensorflow/test_transforms_tf.py
Labels: documentation, module: tests, module: datasets, module: references, module: transforms

#760 feat: Added WordGenerator dataset
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/generator/__init__.py
  doctr/datasets/generator/base.py
  doctr/datasets/generator/pytorch.py
  doctr/datasets/generator/tensorflow.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: documentation, enhancement, module: tests, module: datasets, topic: text recognition

#761 feat: Added dedicated evaluation scripts for text detection
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/results.csv
Labels: enhancement, benchmark, module: references, framework: pytorch, framework: tensorflow, topic: text detection

#763 feat: Refactored & retrained all classification models
  docs/source/models.rst
  docs/source/using_models.rst
  doctr/datasets/detection.py
  doctr/models/classification/magc_resnet/pytorch.py
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/classification/vgg/pytorch.py
  doctr/models/classification/vgg/tensorflow.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  tests/common/test_models_detection.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
Labels: documentation, enhancement, critical, module: models, breaking change, framework: pytorch, framework: tensorflow, topic: character classification

#766 feat: add preserve aspect ratio to predictor and vizualisation utils
  doctr/io/elements.py
  doctr/models/zoo.py
  doctr/utils/visualization.py
Labels: enhancement, module: models, module: utils, topic: text detection

#767 test: Fixed TensorFlow predictor unittest
  tests/tensorflow/test_models_zoo_tf.py
Labels: module: tests, framework: tensorflow

#759 ci: Optimized CI jobs to speed up development process
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/doc-status.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
Labels: enhancement, topic: ci

#743 feat: add rotated ckpts for pytorch DBNet + fix line resolution for rotated pages
  doctr/datasets/detection.py
  doctr/io/elements.py
  doctr/models/_utils.py
  doctr/models/builder.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/zoo.py
  doctr/utils/geometry.py
  doctr/utils/visualization.py
  tests/common/test_models_builder.py
Labels: enhancement, module: models, module: utils, framework: pytorch, topic: text detection

#764 feat: Added torchvision photometric augmentations in artefact detection training
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  references/obj_detection/train_pytorch.py
Labels: enhancement, module: references, topic: object detection

#654 feat: Added random noise augmentation to object detection
  doctr/transforms/modules/pytorch.py
  references/obj_detection/train_pytorch.py
  tests/pytorch/test_transforms_pt.py
Labels: documentation, module: tests, module: references, module: transforms, framework: pytorch, topic: object detection

#765 feat: add rotation option to both detection training scripts
  doctr/datasets/detection.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/detection/utils.py
Labels: enhancement, module: tests, module: references, framework: pytorch, framework: tensorflow, topic: object detection

#769 feat: Updated timing to more accurate one
  references/classification/latency_pytorch.py
  references/classification/latency_tensorflow.py
  references/detection/latency_pytorch.py
  references/detection/latency_tensorflow.py
  references/obj_detection/latency_pytorch.py
  references/recognition/latency_pytorch.py
  references/recognition/latency_tensorflow.py
Labels: enhancement, module: references

#768 feat: Added ChannelShuffle transformation and fixes RandomCrop
  docs/source/transforms.rst
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/base.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: documentation, enhancement, module: tests, module: transforms

#771 feat: Added Gaussian Noise implementation in Tensorflow
  docs/source/transforms.rst
  doctr/transforms/modules/tensorflow.py
  tests/tensorflow/test_transforms_tf.py
Labels: documentation, module: tests, module: transforms, framework: tensorflow

#772 fix: Fixed the box cropping from RandomCrop
  doctr/transforms/functional/base.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: bug, module: tests, module: transforms

#770 ci: Fixed CI training job for TF
  .github/workflows/references.yml
Labels: topic: ci, framework: tensorflow, topic: character classification

#773 feat: Added Random Horizontal Flip augmentation
  doctr/transforms/modules/pytorch.py
  references/obj_detection/train_pytorch.py
  tests/pytorch/test_transforms_pt.py
Labels: enhancement, module: tests, module: references, module: transforms, framework: pytorch, topic: object detection

#776 ci: Added release helper actions
  .github/process_commit.py
  .github/release.yml
  .github/workflows/pr-labels.yml
Labels: topic: ci, type: new feature

#774 docs: Fixed README link & update documentation
  README.md
  docs/source/_static/js/custom.js
  docs/source/index.rst
Labels: topic: documentation, type: enhancement, ext: docs

#775 refactor: Enforced relative coordinates for all dataset geometries
  doctr/datasets/cord.py
  doctr/datasets/datasets/base.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/ocr.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/synthtext.py
  doctr/datasets/utils.py
  doctr/io/image/pytorch.py
  doctr/io/image/tensorflow.py
  doctr/utils/geometry.py
  tests/common/test_utils_geometry.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: module: io, module: utils, ext: tests, type: breaking change, module: datasets, framework: pytorch, framework: tensorflow

#777 fix: target DB
  doctr/models/detection/differentiable_binarization/base.py
Labels: type: bug, module: models, topic: text detection
