Repository mindee/doctr, pull requests merged in 2021-11, with the labels that each got.

#571 fix: Fixed portuguese entry in VOCAB
  doctr/datasets/vocabs.py
Labels: bug, module: datasets

#544 Adds XML export method to DocumentBuilder
  docs/source/using_models.rst
  doctr/io/elements.py
  test/common/test_io_elements.py
Labels: documentation, enhancement, module: io, module: test

#579 chore: Fixed keras version constraint
  requirements.txt
  setup.py
Labels: critical, topic: build, framework: tensorflow

#575 refactor: Updated environment collection script
  scripts/collect_env.py
Labels: enhancement, module: scripts

#566 refactor: Removed console print in builder
  doctr/models/builder.py
Labels: enhancement, module: models

#582 refactor: Removed unused imports and prevents XML attacks
  doctr/datasets/classification/base.py
  doctr/datasets/detection.py
  doctr/io/elements.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/utils/visualization.py
  mypy.ini
Labels: enhancement

#586 docs: Fixed docstring and export as xml dim bug
  doctr/io/elements.py
  doctr/utils/visualization.py
Labels: documentation, module: io

#583 feat: added DocArtefacts dataset
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/doc_artefacts.py
  test/pytorch/test_datasets_pt.py
  test/tensorflow/test_datasets_tf.py
Labels: enhancement, module: datasets

#590 docs: Fixed README instruction for page synthesis
  README.md
Labels: documentation

#595 feat: :sparkles: add det/reco_predictor arch in OCRPredictor.__repr__
  doctr/models/predictor/tensorflow.py
Labels: enhancement, module: models, framework: tensorflow

#599 docs: Updated references to demo in README
  README.md
Labels: documentation, enhancement

#600 feat: Added new architectures to model selection in demo
  demo/app.py
Labels: enhancement, module: demo

#596 docs: :memo: update readme and help in analyse.py
  README.md
  scripts/analyze.py
Labels: documentation, enhancement

#603 docs: Fixed docstrings of datasets
  doctr/datasets/detection.py
  doctr/datasets/recognition.py
Labels: documentation, module: datasets

#604 feat: Added support of AMP to all PyTorch training scripts
  doctr/models/detection/core.py
  doctr/utils/geometry.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/classification/utils.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/detection/utils.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
  references/recognition/utils.py
Labels: enhancement, module: models, module: references, framework: pytorch

#598 refactor: Relocated test/ to tests/ and made contribution process easier
  .github/workflows/docs.yaml
  .github/workflows/main.yml
  CONTRIBUTING.md
  Makefile
  docs/requirements.txt
  requirements-pt.txt
  setup.py
  tests/common/test_core.py
  tests/common/test_datasets.py
  tests/common/test_datasets_utils.py
  tests/common/test_headers.py
  tests/common/test_io.py
  tests/common/test_io_elements.py
  tests/common/test_models.py
  tests/common/test_models_artefacts.py
  tests/common/test_models_builder.py
  tests/common/test_models_detection.py
  tests/common/test_models_recognition_predictor.py
  tests/common/test_models_recognition_utils.py
  tests/common/test_requirements.py
  tests/common/test_utils_fonts.py
  tests/common/test_utils_geometry.py
  tests/common/test_utils_metrics.py
  tests/common/test_utils_multithreading.py
  tests/common/test_utils_visualization.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/pytorch/test_file_utils_pt.py
  tests/pytorch/test_io_image_pt.py
  tests/pytorch/test_models_backbones_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_preprocessor_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/pytorch/test_models_utils_pt.py
  tests/pytorch/test_models_zoo_pt.py
  tests/pytorch/test_transforms_pt.py
  tests/requirements.txt
  tests/tensorflow/test_datasets_loader_tf.py
  tests/tensorflow/test_datasets_tf.py
  tests/tensorflow/test_file_utils_tf.py
  tests/tensorflow/test_io_image_tf.py
  tests/tensorflow/test_models_backbones_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_preprocessor_tf.py
  tests/tensorflow/test_models_recognition_tf.py
  tests/tensorflow/test_models_utils_tf.py
  tests/tensorflow/test_models_zoo_tf.py
  tests/tensorflow/test_transforms_tf.py
Labels: documentation, enhancement, topic: build, topic: ci, module: test

#609 docs: Specified that the API template only supports images for now
  .github/workflows/demo.yml
  api/app/routes/detection.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
Labels: documentation, enhancement, module: api

#611 fix: :bug: deprecated streamlit version in demo app
  demo/requirements.txt
Labels: bug, module: demo

#616 fix: :bug: quick fix rotation
  doctr/utils/geometry.py
Labels: bug

#589 IIIT-5K dataset integration
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/datasets/base.py
  doctr/datasets/iiit5k.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: documentation, module: test, module: datasets

#614 docs: update command to install tf/pytorch build
  README.md
  docs/source/installing.rst
Labels: documentation, enhancement

#613 chore: Added checkpoint format to gitignore
  .gitignore
Labels: enhancement

#615 fix: Fixed Makefile by converting spaces to tabs
  Makefile
Labels: bug

#601 feat: Split DocArtefacts into subsets and updated its class mapping
  doctr/datasets/doc_artefacts.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: enhancement, module: datasets

#623 style: Updated flake8 config to spot unused imports & undefined variables
  .flake8
  .github/workflows/style.yml
  doctr/datasets/datasets/base.py
  doctr/utils/metrics.py
  tests/tensorflow/test_datasets_loader_tf.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: enhancement, topic: ci

#612 docs: Added README specific for the API with route examples
  README.md
  api/README.md
Labels: documentation, module: api

#617 docs: Specified comment in SAR about symbol encoding
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
Labels: documentation, module: models, topic: text recognition

#619 docs: Added links to tutorial notebooks in the documentation
  README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/notebooks.md
  notebooks/README.md
  setup.py
Labels: documentation, enhancement

#626 fix: Adds missing console log and removed Tensorboard
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: references

#628 feat: Added an object detection metric
  docs/source/utils.rst
  doctr/utils/metrics.py
  tests/common/test_utils_metrics.py
Labels: documentation, module: utils, module: test

#627 refactor: Drops support of np.float16
  doctr/datasets/cord.py
  doctr/datasets/datasets/base.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/iiit5k.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/datasets/svt.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  tests/pytorch/test_datasets_pt.py
  tests/pytorch/test_models_preprocessor_pt.py
  tests/tensorflow/test_datasets_tf.py
  tests/tensorflow/test_models_preprocessor_tf.py
Labels: module: models, breaking change, module: datasets

#593 feat: Added train script for artefact detection
  references/obj_detection/train_pytorch.py
Labels: enhancement, module: scripts

#629 feat: Added GPU support for classification and improve memory pinning
  references/classification/train_pytorch.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: references, framework: pytorch, topic: text detection, topic: text recognition, topic: character classification

#633 refactor: :zap: Speeded up CTC decoding in PyTorch by x10
  doctr/datasets/utils.py
  doctr/models/recognition/crnn/pytorch.py
  tests/common/test_datasets_utils.py
Labels: enhancement, module: models, module: datasets, framework: pytorch, topic: text recognition

#632 feat: add 2 new rotation flags in the ocr_predictor
  README.md
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
Labels: enhancement, module: models

#642 chore: Applied post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: documentation, topic: build

#644 docs: Fixed documentation build
  docs/build.sh
Labels: documentation, critical

#643 style: Fixed isort and typing checks
  .github/workflows/style.yml
  doctr/models/recognition/utils.py
  references/classification/train_pytorch.py
  references/obj_detection/train_pytorch.py
Labels: enhancement, topic: ci

#641 refacto: :wrench: postprocessing with rotated boxes
  api/app/routes/detection.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/predictor/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  tests/common/test_models_detection.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: enhancement, module: models, breaking change, framework: pytorch, framework: tensorflow

#645 fix: :bug: bug canvas dtype for threshold target
  doctr/models/detection/differentiable_binarization/base.py
Labels: bug, critical, module: models, topic: text detection

#624 SynthText dataset integration
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/synthtext.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: documentation, module: test, module: datasets

#647 fix: :bug: assume_straight_pages in predictor
  doctr/models/detection/zoo.py
  doctr/models/zoo.py
Labels: bug, critical, module: models

#650 [notebooks] add export_as_pdfa notebook
  notebooks/README.md
Labels: documentation

#651 docs: Added TFJS demo ref in README
  README.md
Labels: documentation

#649 fix: Added automatic worker resolution to remaining training scripts
  references/classification/train_tensorflow.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: enhancement, module: references, topic: text detection, topic: text recognition, topic: character classification, topic: object detection

#655 ci: Fixed silent isort failure
  .github/workflows/style.yml
  .isort.cfg
  doctr/models/predictor/base.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
  setup.cfg
Labels: bug, enhancement, topic: ci

#656 fix: Fixed W&B config log
  references/classification/train_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: bug, module: references, framework: tensorflow

#659 feat: Added rbox_iou function with a memory-savy option
  doctr/utils/metrics.py
  tests/common/test_utils_metrics.py
Labels: enhancement, module: utils

#661 fix: Updates Makefile to match CI
  Makefile
Labels: bug, topic: build
