Repository mindee/doctr, pull requests merged in 2021-05, with the labels that each got.

#230 fix: adjust detection postprocessing parameters to img size
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
Labels: module: models

#231 feat: add freezing backbone arg in training script
  references/detection/train.py
Labels: module: models, references

#238 docs: add vocabs in doc
  docs/source/datasets.rst
  docs/source/models.rst
Labels: documentation

#239 docs: improved landing page of documentation
  docs/source/index.rst
Labels: documentation, enhancement

#237 feat: set default image resolution to 1024 in read_pdf
  demo/app.py
  doctr/documents/reader.py
  scripts/analyze.py
Labels: module: documents

#240 feat: Increased default DPI for page rendering of PDFs
  doctr/documents/reader.py
  test/test_documents_reader.py
Labels: enhancement, module: documents, module: test

#241 fix: Fixed tensor scaling in recognition script
  references/recognition/train.py
Labels: bug, critical, references

#242 feat: Added minimal API template for text recognition
  .github/workflows/main.yml
  Dockerfile-api
  README.md
  api/app/config.py
  api/app/main.py
  api/app/routes/recognition.py
  api/app/schemas.py
  api/requirements-dev.txt
  api/requirements.txt
  api/tests/conftest.py
  api/tests/routes/test_recognition.py
  docker-compose.yml
Labels: documentation, topic: api

#243 refacto: removed support for tf versions < 2.4.0
  requirements.txt
  setup.py
  test/test_models_export.py
Labels: environnement

#245 feat: Added text detection route to API template
  api/app/main.py
  api/app/routes/detection.py
  api/app/schemas.py
  api/tests/conftest.py
  api/tests/routes/test_detection.py
Labels: topic: api

#246 docs: Added SavedModel export instructions in doc
  docs/source/models.rst
Labels: documentation, enhancement

#247 feat: Added OCR route to API template
  Dockerfile-api
  api/app/main.py
  api/app/routes/detection.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
  api/app/schemas.py
  api/app/vision.py
  api/tests/routes/test_ocr.py
  doctr/models/core.py
Labels: enhancement, module: documents, topic: api

#248 refacto: postprocessor instantiation
  doctr/models/detection/core.py
  doctr/models/detection/linknet.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/core.py
  doctr/models/recognition/zoo.py
  test/test_models_detection.py
  test/test_models_recognition.py
Labels: enhancement, module: models

#249 feat: Added sample display option in training script
  doctr/transforms/modules.py
  references/detection/train.py
  references/recognition/train.py
Labels: enhancement, module: transforms, references

#250 refactor: Refactored model calls and fixed validation loop
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  references/detection/train.py
  references/recognition/train.py
  test/test_models_detection.py
  test/test_models_recognition.py
Labels: breaking change, critical, enhancement, module: models, module: test, references

#252 fix: Fixed demo app
  demo/app.py
  scripts/analyze.py
  scripts/evaluate.py
Labels: module: scripts, topic: demo

#254 chore: Post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  setup.py
Labels: documentation, topic: build

#258 feat: add FaceDetector in models.artefact
  doctr/models/artefacts/__init__.py
  doctr/models/artefacts/face.py
  test/test_artefacts.py
Labels: module: models

#260 feat: add BarCodeDetector
  doctr/models/artefacts/__init__.py
  doctr/models/artefacts/barcode.py
  test/test_artefacts.py
Labels: module: models

#266 fix: Fixed Resize transformation when preserving aspect ratio
  doctr/transforms/modules.py
  references/recognition/train.py
  test/test_transforms.py
Labels: bug, module: transforms, references

#267 fix: Fixed OCRMetric update when there is no predictions
  doctr/utils/metrics.py
  test/test_utils_metrics.py
Labels: bug, module: utils

#268 chore: Added CI job to build for other OS
  .github/workflows/os-builds.yml
  README.md
  docs/source/installing.rst
Labels: documentation, topic: build, topic: ci

#269 docs: add bench private datasets in docs
  docs/source/models.rst
Labels: benchmark, documentation

#270 feat: handle blank img in ocr datasets
  doctr/datasets/ocr.py
Labels: module: datasets

#272 refactor: improved DB postprocessing
  docs/source/models.rst
  doctr/models/detection/differentiable_binarization.py
Labels: enhancement, module: models

#274 refactor: Added granularity to evaluation metrics
  api/tests/routes/test_detection.py
  api/tests/routes/test_ocr.py
  docs/source/datasets.rst
  docs/source/documents.rst
  docs/source/utils.rst
  doctr/documents/elements.py
  doctr/utils/metrics.py
  references/detection/train.py
  references/recognition/train.py
  requirements.txt
  scripts/evaluate.py
  setup.py
  test/test_utils_metrics.py
Labels: breaking change, documentation, enhancement, module: scripts, module: utils, references, topic: build

#273 refactor: Added option to display artefacts
  doctr/utils/visualization.py
Labels: enhancement, module: utils

#276 fix: multi-page demo & RGB for pdf reader
  demo/app.py
  doctr/documents/reader.py
  test/test_documents_reader.py
Labels: bug, demo, module: documents

#277 fix: Fixed preprocessor and added new DBNet pretrained params
  docs/source/models.rst
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization.py
  doctr/models/detection/linknet.py
  doctr/models/detection/zoo.py
  doctr/models/preprocessor.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  doctr/models/recognition/zoo.py
  doctr/transforms/modules.py
  scripts/evaluate.py
  test/test_models.py
  test/test_models_detection.py
  test/test_models_recognition.py
  test/test_transforms.py
Labels: benchmark, breaking change, critical, documentation, module: datasets, module: models, module: scripts, module: test, module: transforms

#278 refactor: Refactored dataset methods and removed unused imports
  doctr/datasets/cord.py
  doctr/datasets/core.py
  doctr/datasets/detection.py
  doctr/datasets/funsd.py
  doctr/datasets/loader.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/models/artefacts/barcode.py
  doctr/models/detection/core.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/zoo.py
  references/detection/train.py
  references/recognition/train.py
  test/test_datasets.py
  test/test_datasets_ocr.py
  test/test_datasets_recognition.py
  test/test_models_detection.py
  test/test_models_export.py
  test/test_models_recognition.py
Labels: enhancement, module: datasets, module: models, module: test, references

#279 docs: Added changelog to documentation and updated landing page
  README.md
  docs/source/changelog.rst
  docs/source/index.rst
  doctr/datasets/loader.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/models/detection/core.py
Labels: documentation, enhancement, module: datasets, module: models

#280 docs: Added num of params in tables
  docs/source/models.rst
Labels: documentation

#282 fix: Fixed image decoding in API template
  CONTRIBUTING.md
  README.md
  api/app/routes/detection.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
  api/app/vision.py
Labels: documentation, enhancement, topic: api

#283 feat: display ocr results in readme
  README.md
Labels: documentation

#284 feat: Added recognition sequence probability
  api/app/routes/recognition.py
  doctr/models/core.py
  doctr/models/recognition/core.py
  doctr/models/recognition/crnn.py
  doctr/models/recognition/sar.py
  references/recognition/train.py
  scripts/evaluate.py
  test/test_models.py
  test/test_models_recognition.py
Labels: breaking change, enhancement, module: models, module: scripts, references, topic: api

#285 docs: Improved landing page of the documentation
  docs/source/index.rst
Labels: documentation, enhancement

#286 feat: Added proper experiment tracking
  .gitignore
  references/detection/train.py
  references/recognition/train.py
  references/requirements.txt
Labels: enhancement, references

#287 chore: Post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: documentation, topic: build

#288 fix: Missing import of wandb in detection training script
  references/detection/train.py
Labels: bug, references
