Repository mindee/doctr, pull requests merged in 2022-07, with the labels that each got.

#949 [Fix] Tensorflow MASTER implementation
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
Labels: type: bug, module: models, framework: tensorflow, topic: text recognition

#938 Updating the readme
  references/recognition/README.md
Labels: topic: documentation, type: enhancement, ext: references

#975 [Refactor] make TF master ONNX exportable / fix mypy
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/transformer/tensorflow.py
  pyproject.toml
Labels: module: models, framework: tensorflow, topic: text recognition, topic: onnx

#976 [ONNX] Part1: update current onnx export
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: framework: pytorch, framework: tensorflow, topic: onnx

#983 [datasets] update IC / SROIE / FUNSD / CORD
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/sroie.py
  doctr/datasets/svt.py
Labels: module: datasets, type: misc

#979 [ONNX/Tests] Part2 add ONNX tests for TF and PT detection models
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: ext: tests, framework: pytorch, framework: tensorflow, topic: text detection, topic: onnx

#980 [ONNX/Tests] Part2 add ONNX tests for TF and PT recognition models
  Makefile
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: ext: tests, framework: pytorch, framework: tensorflow, topic: text recognition, topic: onnx

#986 [FIX] MASTER AMP and onnxruntime issue with master PT
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/transformer/pytorch.py
  doctr/models/recognition/transformer/tensorflow.py
  tests/pytorch/test_models_recognition_pt.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: onnx

#987 [datasets] revert whitespace filtering and fix svhn reco
  .github/workflows/references.yml
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/datasets/svhn.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
Labels: module: datasets, ext: references, type: misc

#999 feat: add a basic example of text detection
  scripts/analyze.py
  scripts/detect_artefacts.py
  scripts/detect_text.py
Labels: type: enhancement, ext: scripts, topic: text detection

#997 pytest-api test: fix ping server step
  .github/workflows/docker.yml
  api/requirements.txt
  api/tests/conftest.py
Labels: type: bug, topic: ci, ext: api

#1002 docs/index: fix two minor typos
  docs/source/index.rst
Labels: type: bug, ext: docs
