Repository mindee/doctr, pull requests merged in 2022-09, with the labels that each got.

#1038 [datasets] Fix recognition parts of SynthText and IMGUR5K
  doctr/datasets/imgur5k.py
  doctr/datasets/synthtext.py
Labels: type: bug, module: datasets

#1041 [Fix] unify recognition dataset parts return signature
  doctr/datasets/cord.py
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/imgur5k.py
  doctr/datasets/mjsynth.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
  tests/common/test_datasets.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: type: enhancement, module: datasets, framework: pytorch, framework: tensorflow

#1039 [Fix] rotation classifier input move to model device
  doctr/models/classification/predictor/pytorch.py
Labels: type: bug, module: models, framework: pytorch

#1051 Updated README.md for custom fonts
  references/recognition/README.md
Labels: topic: documentation, type: enhancement, ext: references, topic: text recognition

#1050 add ViT as classification model TF and PT
  docs/source/modules/models.rst
  doctr/models/classification/__init__.py
  doctr/models/classification/vit/__init__.py
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/classification/zoo.py
  doctr/models/modules/__init__.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/modules/transformer/tensorflow.py
  doctr/models/modules/vision_transformer/__init__.py
  doctr/models/modules/vision_transformer/pytorch.py
  doctr/models/modules/vision_transformer/tensorflow.py
  references/classification/train_tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: module: models, framework: pytorch, framework: tensorflow, topic: character classification, type: new feature

#1054 [tests] add missing hf model tests
  doctr/models/classification/vit/pytorch.py
  tests/pytorch/test_models_factory.py
  tests/tensorflow/test_models_factory.py
Labels: ext: tests

#1059 [models] update vit and transformer layer norm
  docs/source/modules/models.rst
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/classification/zoo.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/modules/transformer/tensorflow.py
  doctr/models/modules/vision_transformer/pytorch.py
  references/classification/train_tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_factory.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_factory.py
Labels: module: models, framework: pytorch, framework: tensorflow, type: misc

#1060 [refactor] detection script
  .github/workflows/scripts.yml
  scripts/detect_text.py
Labels: type: enhancement, topic: ci, ext: scripts

#1063 [models] Vit: fix intermediate size scale and unify TF to PT
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/modules/transformer/tensorflow.py
  doctr/models/modules/vision_transformer/pytorch.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: character classification

#1061 make pretrained backbone flexible in predictor
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/zoo.py
  doctr/models/zoo.py
Labels: module: models, topic: text detection, topic: text recognition, type: misc

#1062 handle LocalizationConfusion memory consuption and upgrade min weasyprint version
  .github/workflows/references.yml
  pyproject.toml
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/requirements.txt
Labels: ext: references, topic: text detection, type: misc

#1070 Fixed small typo in references recognition
  references/recognition/README.md
Labels: topic: documentation, ext: references

#1055 [models] add ViTSTR TF and PT and update ViT to work as backbone
  README.md
  docs/source/index.rst
  docs/source/modules/models.rst
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/classification/zoo.py
  doctr/models/modules/vision_transformer/pytorch.py
  doctr/models/modules/vision_transformer/tensorflow.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/vitstr/__init__.py
  doctr/models/recognition/vitstr/base.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/recognition/zoo.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_factory.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_factory.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: module: models, framework: pytorch, framework: tensorflow, topic: text recognition

#1072 [models] ViT add checkpoints and some rework to use pretrained ViT backbone in ViTSTR
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/modules/vision_transformer/pytorch.py
  doctr/models/modules/vision_transformer/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: type: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text recognition, topic: character classification

#1076 [docs] install extras for MacBooks with M1 chip
  README.md
  docs/source/getting_started/installing.rst
Labels: topic: documentation, os: mac, type: misc

#1075 upgrade pypdfium2
  doctr/io/pdf.py
  pyproject.toml
Labels: topic: build, module: io

#1073 update version for minor release
  setup.py
Labels: topic: build, type: misc

#1080 ViTSTR disable pretrained backbone by default
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: type: enhancement, module: models, framework: pytorch, framework: tensorflow

#1081 chore: apply post release modifications v0.6.0
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, type: misc

#1082 chore: dev version downgrade from 0.7.0 to 0.6.1
  setup.py
Labels: topic: build, type: misc
