Repository mindee/doctr, pull requests merged in 2022-01, with the labels that each got.

#780 chore: Applied post release modifications
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: documentation, topic: build, type: misc, ext: docs

#779 feat: Added RandomHorizontalFLip in TF
  docs/source/transforms.rst
  doctr/transforms/modules/tensorflow.py
  tests/tensorflow/test_transforms_tf.py
Labels: ext: tests, module: transforms, framework: tensorflow, type: new feature, ext: docs

#784 fix: Fixed rotation of img + target
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/base.py
  doctr/utils/geometry.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: type: bug, critical, ext: tests, module: transforms, framework: pytorch, framework: tensorflow

#782 [datasets] unify np_dtype and fix comments
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/ocr.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: topic: documentation, type: enhancement, ext: tests, module: datasets

#787 fix: show sample when batch size is 1
  references/detection/utils.py
Labels: type: bug, ext: references, topic: object detection

#792 ci: Fixed PR label check job
  .github/verify_pr_labels.py
  .github/workflows/pr-labels.yml
Labels: topic: ci

#794 ci: Fixed typo in the script ref
  .github/workflows/pr-labels.yml
Labels: topic: ci

#785 Imgur5k dataset integration
  docs/source/datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/imgur5k.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: ext: tests, module: datasets, type: new feature, ext: docs

#795 [datasets] fix description
  doctr/datasets/detection.py
  doctr/datasets/ic13.py
  doctr/datasets/imgur5k.py
  doctr/datasets/loader.py
  doctr/datasets/ocr.py
  doctr/datasets/recognition.py
Labels: type: bug, topic: documentation, module: datasets

#786 fix: Clip in rotation transform + eval_straight mode for training
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: type: enhancement, ext: references, module: transforms, topic: text detection

#803 fix: linknet target computation
  doctr/models/detection/linknet/base.py
Labels: type: bug, module: models, topic: text detection

#806 ci: Fixed issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: bug, topic: ci

#808 feat: Added support of GPU for predictors in PyTorch
  doctr/models/detection/predictor/pytorch.py
  doctr/models/recognition/predictor/pytorch.py
Labels: module: models, framework: pytorch, type: new feature

#809 refactor: Avoids instantiating orientation predictor when unnecessary
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, ext: tests

#793 feat: add straight-eval arg in evaluate script
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  scripts/evaluate.py
Labels: type: enhancement, module: models, ext: scripts, framework: pytorch, framework: tensorflow, topic: text detection

#810 fix: Reverted mistake in demo
  demo/app.py
Labels: type: bug, critical, ext: demo

#801 fix: polygon orientation + line aggregation
  doctr/models/_utils.py
  doctr/utils/geometry.py
  tests/common/test_utils_geometry.py
Labels: type: bug, module: models, module: utils, type: breaking change, topic: text detection
