Repository mindee/doctr, pull requests merged in 2022-05, with the labels that each got.

#905 [docu]: add documentation for datasets
  docs/source/index.rst
  docs/source/modules/datasets.rst
  docs/source/using_doctr/using_datasets.rst
  doctr/datasets/generator/pytorch.py
  doctr/datasets/generator/tensorflow.py
  doctr/datasets/loader.py
  doctr/datasets/ocr.py
Labels: topic: documentation, ext: docs

#904 [Fix]: Documentation add missing in vocabs and correct tab in sharing models
  docs/source/modules/datasets.rst
  docs/source/using_doctr/sharing_models.rst
Labels: topic: documentation, ext: docs

#906 ci: Add swagger ping in API CI job
  .github/workflows/docker.yml
Labels: topic: ci, topic: docker, ext: api

#910 [onnx/tf] classification models export
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  mypy.ini
  references/classification/train_tensorflow.py
  requirements.txt
  setup.py
  tests/conftest.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: module: models, ext: tests, ext: references, framework: tensorflow, topic: onnx

#921 [docs] Add naming conventions for upload models to hf hub
  docs/source/using_doctr/sharing_models.rst
  docs/source/using_doctr/using_datasets.rst
Labels: topic: documentation, type: enhancement, ext: docs

#920 [Fix] PyTorch SAR_Resnet31 implementation
  doctr/models/recognition/sar/pytorch.py
Labels: module: models, framework: pytorch, topic: text recognition

#929 docs: Improved error message of encode_string
  doctr/datasets/utils.py
Labels: topic: documentation, type: enhancement, module: datasets

#930 [Refactor] PyTorch SAR_Resnet31 make it ONNX exportable (again)
  doctr/models/recognition/sar/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text recognition, topic: onnx, type: code quality

#925 [Fix] TensorFlow SAR_Resnet31 implementation
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
Labels: type: bug, critical, module: models, type: breaking change, framework: tensorflow, topic: text recognition
