Repository mindee/doctr, pull requests merged in 2022-08, with the labels that each got.

#1013 move transformers implementation to modules
  doctr/models/modules/__init__.py
  doctr/models/modules/transformer/__init__.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/modules/transformer/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  tests/common/test_io.py
Labels: module: models, framework: pytorch, framework: tensorflow, type: misc

#1022 Fix orientation details export
  doctr/models/builder.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: bug, module: models, ext: tests

#1023 Feat/add language detection
  doctr/models/_utils.py
  doctr/models/builder.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  pyproject.toml
  requirements-pt.txt
  requirements.txt
  setup.py
  tests/common/test_models.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: module: models, type: new feature

#1019 Changed return type of multithread_exec to iterator
  doctr/datasets/loader.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  doctr/utils/multithreading.py
  tests/common/test_utils_multithreading.py
Labels: type: bug, module: models, module: utils, ext: tests, module: datasets

#1008 Add pytorch demo
  .github/workflows/demo.yml
  README.md
  demo/app.py
  demo/backend/pytorch.py
  demo/backend/tensorflow.py
  demo/pt-requirements.txt
  demo/tf-requirements.txt
Labels: type: enhancement, ext: demo, framework: pytorch

#1031 [build] move requirements to pyproject.toml
  .github/workflows/builds.yml
  .github/workflows/doc-status.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  Dockerfile
  api/Dockerfile
  api/Makefile
  api/README.md
  api/docker-compose.yml
  api/pyproject.toml
  api/requirements-dev.txt
  api/requirements.txt
  api/tests/conftest.py
  docs/requirements.txt
  pyproject.toml
  requirements-pt.txt
  requirements.txt
  setup.cfg
  setup.py
  tests/common/test_requirements.py
  tests/requirements.txt
Labels: type: enhancement, topic: build, topic: ci

#1034 [build] setup dependabot
  .github/dependabot.yml
Labels: topic: build, topic: ci
