Repository mindee/doctr, pull requests merged in 2022-03, with the labels that each got.

#842 fix: Fixed expand_line for horizontal & vertical cases
  doctr/transforms/functional/base.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  tests/common/test_transforms.py
  tests/pytorch/test_transforms_pt.py
Labels: type: bug, module: transforms

#836 feat: Added loading method for PyTorch artefact detection models from HF Hub
  doctr/models/obj_detection/factory/__init__.py
  doctr/models/obj_detection/factory/pytorch.py
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  mypy.ini
  requirements-pt.txt
  requirements.txt
  setup.py
  tests/common/test_headers.py
  tests/pytorch/test_models_obj_detection_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: module: models, ext: tests, framework: pytorch, topic: object detection, type: new feature

#846 docs: add rotation in docs
  docs/source/using_models.rst
Labels: type: enhancement, ext: docs

#835 feat: add aspect ratio for ocr predictor
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#823 feat: add target to resize transform for aspect ratio training (detection task)
  doctr/models/preprocessor/tensorflow.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  tests/tensorflow/test_models_detection_tf.py
Labels: type: enhancement, ext: references, module: transforms, framework: pytorch, framework: tensorflow, topic: text detection

#848 fix: Fixes inplace target modifications for AbstractDatasets
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  tests/common/test_datasets.py
Labels: type: bug, critical, module: datasets

#845 Switch to new pypdfium2 API
  docs/source/conf.py
  doctr/io/pdf.py
  requirements-pt.txt
  requirements.txt
  setup.py
Labels: topic: build, module: io, type: misc, ext: docs

#860 fix: Fixed landing page and title underlines
  docs/source/index.rst
  docs/source/models.rst
Labels: type: bug, topic: documentation, ext: docs

#856 Theme + css #1
  docs/requirements.txt
  docs/source/_static/css/mindee.css
  docs/source/_static/js/custom.js
  docs/source/conf.py
  docs/source/index.rst
  setup.py
Labels: topic: documentation, type: enhancement, topic: build, ext: docs

#857 docs: Adds illustration in the docstrings of doctr.datasets
  doctr/datasets/cord.py
  doctr/datasets/detection.py
  doctr/datasets/doc_artefacts.py
  doctr/datasets/funsd.py
  doctr/datasets/generator/pytorch.py
  doctr/datasets/generator/tensorflow.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/imgur5k.py
  doctr/datasets/loader.py
  doctr/datasets/recognition.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
Labels: topic: documentation, type: enhancement, module: datasets

#862 docs: Updated folder hierarchy of doc source and nootbooks to rst file
  docs/source/contributing/code_of_conduct.md
  docs/source/contributing/contributing.md
  docs/source/getting_started/installing.rst
  docs/source/index.rst
  docs/source/modules/datasets.rst
  docs/source/modules/io.rst
  docs/source/modules/models.rst
  docs/source/modules/transforms.rst
  docs/source/modules/utils.rst
  docs/source/notebooks.md
  docs/source/notebooks.rst
  docs/source/using_doctr/using_model_export.rst
  docs/source/using_doctr/using_models.rst
  notebooks/README.md
  notebooks/README.rst
Labels: topic: documentation, type: enhancement, ext: docs

#864 docs: Fixed HTML title
  docs/source/conf.py
Labels: type: bug, topic: documentation, ext: docs

#865 fix: linknet hyperparameters postprocessing + demo for rotation model
  demo/app.py
  doctr/models/detection/linknet/base.py
  doctr/utils/visualization.py
Labels: type: enhancement, module: models, ext: demo, topic: text detection
