Repository mindee/doctr, pull requests merged in 2022-02, with the labels that each got.

#822 feat: add shrinked target in linknet + dilation in postprocessing
  doctr/models/detection/linknet/base.py
Labels: type: enhancement, module: models, topic: text detection

#825 Add SynthWordGenerator to text reco training scripts
  .github/workflows/references.yml
  references/recognition/README.md
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
Labels: ext: references, framework: pytorch, framework: tensorflow, topic: text recognition, type: new feature

#828 fix: Fixed some ResNet architecture imprecisions
  docs/source/models.rst
  doctr/models/classification/magc_resnet/pytorch.py
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
Labels: type: bug, module: models, ext: tests, topic: character classification, topic: object detection, type: new feature, ext: docs

#824 feat: replace bce by focal loss in linknet loss
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
Labels: type: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#831 fix: Fixed SAR model for training and inference in PyTorch
  doctr/models/recognition/sar/pytorch.py
Labels: type: bug, critical, module: models, framework: pytorch, topic: text recognition

#811 feat: Added shadow augmentation for all backends
  docs/source/transforms.rst
  doctr/transforms/functional/base.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: ext: tests, module: transforms, type: new feature, ext: docs

#829 refactor: Switched from PyMuPDF to pypdfium2
  .github/workflows/docker.yml
  Dockerfile
  README.md
  demo/app.py
  docs/source/io.rst
  doctr/io/pdf.py
  doctr/io/reader.py
  mypy.ini
  requirements-pt.txt
  requirements.txt
  scripts/analyze.py
  setup.py
  tests/common/test_io.py
  tests/common/test_models.py
  tests/conftest.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: topic: documentation, critical, module: io, ext: tests, type: breaking change, ext: docs
