Repository mindee/doctr, pull requests merged in 2023-04, with the labels that each got.

#1177 Update utils.py
  doctr/models/recognition/utils.py
  pyproject.toml
Labels: topic: build, module: utils, type: misc

#1178 Error in unpacking archive of SROIE dataset
  doctr/datasets/sroie.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: type: bug, module: datasets

#1180 [Fix] remove autogen version.py fix docs build and fix version identifier
  docs/build.sh
  doctr/version.py
  setup.py
Labels: type: bug, topic: build, ext: docs

#1179 [build] replaces flake8 with ruff
  .flake8
  .github/workflows/style.yml
  Makefile
  pyproject.toml
Labels: type: enhancement, topic: build, topic: ci

#1181 [quality] Add pre-commit and update contributing guidelines
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
Labels: topic: documentation, topic: build, type: code quality

#1182 [tests/TF/build] enable missing classification onnx tests and set tensorflow lower bound to 2.11
  api/pyproject.toml
  pyproject.toml
  tests/tensorflow/test_models_classification_tf.py
Labels: topic: build, ext: tests, framework: tensorflow, topic: onnx, type: misc

#1188 [build] update pytorch dependency
  pyproject.toml
Labels: topic: build, framework: pytorch, type: misc
