Repository mindee/doctr, pull requests merged in 2023-10, with the labels that each got.

#1342 [Fix] PT - convert BF16 tensor to float before calling .numpy()
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/utils/pytorch.py
  tests/pytorch/test_models_utils_pt.py
Labels: type: bug, module: models, ext: tests, framework: pytorch, topic: text detection, topic: text recognition

#1345 [Fix] Prob comp in vitstr and parseq for empty words
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: text recognition

#1346 [Fix] TF - add bf16 numpy dtype conversion
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  tests/pytorch/test_models_utils_pt.py
  tests/tensorflow/test_models_utils_tf.py
Labels: type: bug, ext: tests, framework: tensorflow, topic: text detection, topic: text recognition

#1347 [misc] rename helper function for bf16 to float32 casting
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  tests/pytorch/test_models_utils_pt.py
  tests/tensorflow/test_models_utils_tf.py
Labels: type: misc

#1355 hebrew letters
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, module: datasets, topic: text recognition, type: misc, ext: docs

#1351 [TF] unify detection augmentations
  references/detection/train_tensorflow.py
Labels: type: enhancement, ext: references, framework: tensorflow, topic: text detection

#1357 [Fix] fix growing mem usage pytorch crnn
  doctr/models/recognition/crnn/pytorch.py
Labels: type: bug, module: models, framework: pytorch, topic: text recognition

#1360 [Fix] tf augmentations
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: type: bug, type: enhancement, ext: references, framework: tensorflow, topic: text detection, topic: text recognition

#1362 feat: :sparkles: PT SAR Resnet31 Checkpoint
  doctr/models/recognition/sar/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text recognition

#1361 feat: :sparkles: PT ViTSTR Base checkpoint
  doctr/models/recognition/vitstr/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text recognition

#1359 Add wildreceipt dataset
  docs/source/index.rst
  docs/source/using_doctr/using_datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/wildreceipt.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: topic: documentation, ext: tests, module: datasets, type: new feature

#1363 docs: :pencil2: add `WILDRECEIPT` in docs and fix `README.md`
  README.md
  docs/source/modules/datasets.rst
  doctr/datasets/wildreceipt.py
Labels: topic: documentation, type: misc, ext: docs
