Repository mindee/doctr, pull requests merged in 2023-07, with the labels that each got.

#1233 [tests] update test cases
  .github/workflows/references.yml
  tests/common/test_datasets.py
  tests/pytorch/test_datasets_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_datasets_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: topic: ci, ext: tests, type: misc

#1237 chore: apply PIL major changes and increase min version specifier
  doctr/datasets/generator/base.py
  doctr/models/artefacts/face.py
  pyproject.toml
Labels: critical, topic: build, type: misc

#1239 [chore]: Pypdfium2 compatibility fix
  doctr/io/pdf.py
  pyproject.toml
  tests/common/test_utils_geometry.py
Labels: topic: build, module: io, type: misc

#1246 docs: :pencil2: fix typos in documentation
  CONTRIBUTING.md
  docs/README.md
  docs/source/modules/models.rst
  docs/source/using_doctr/running_on_aws.rst
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, ext: docs

#1253 [PyTorch] update transforms pytorch (classification / det / rec)
  references/classification/train_pytorch.py
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
Labels: type: enhancement, ext: references, framework: pytorch, topic: text detection, topic: text recognition, topic: character classification

#1254 fix: :bug: fix bug when training object detection
  doctr/datasets/datasets/base.py
Labels: type: bug, module: datasets, topic: object detection

#1252 [chore]: Replace `tensorflow_addons`
  docs/build.sh
  doctr/models/classification/vit/tensorflow.py
  doctr/transforms/functional/tensorflow.py
  doctr/transforms/modules/tensorflow.py
  pyproject.toml
  tests/tensorflow/test_transforms_tf.py
Labels: topic: build, module: transforms, framework: tensorflow, type: misc

#1258 [quality] move copy tensor function
  doctr/__init__.py
  doctr/datasets/datasets/base.py
  doctr/file_utils.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  tests/pytorch/test_models_utils_pt.py
  tests/tensorflow/test_models_utils_tf.py
Labels: module: datasets, type: code quality

#1257 feat: :sparkles: ClearML support for TensorFlow
  .github/workflows/references.yml
  references/classification/train_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/train_tensorflow.py
  references/requirements.txt
Labels: type: enhancement, ext: references, framework: tensorflow, type: new feature

#1260 [style] Fix markdown style warnings
  README.md
  api/README.md
  references/classification/README.md
  references/detection/README.md
  references/recognition/README.md
Labels: topic: documentation, type: misc

#1261 [docs] update export page to ONNX
  docs/source/using_doctr/using_model_export.rst
Labels: topic: documentation, type: misc, ext: docs

#1263 [docs] custom model load
  docs/source/index.rst
  docs/source/using_doctr/custom_models_training.rst
Labels: topic: documentation, type: enhancement, ext: docs

#1268 [PyPi] Fix image display
  README.md
Labels: topic: documentation, type: misc

#1267 [Fix] fix obj det train and suppress endless warning prints
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  doctr/transforms/modules/pytorch.py
Labels: type: bug, module: models, module: transforms, framework: pytorch, topic: object detection

#1271 [Fix] add ignore keys if classes differ - KIE training
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/pytorch.py
Labels: type: bug, module: models, framework: pytorch, topic: text detection
