Repository mindee/doctr, pull requests merged in 2023-11, with the labels that each got.

#1365 [misc] increase to 0.8.0 and temp pin onnx
  pyproject.toml
  setup.py
Labels: topic: ci, topic: onnx, type: misc

#1367 Fix broken weasyprint link
  README.md
Labels: type: bug, topic: documentation

#1374 [Fix] Typo in README.md
  README.md
Labels: topic: documentation, type: misc

#1373 Relax Pillow and OpenCV version bounds.
  pyproject.toml
Labels: topic: build, type: misc

#1336 [prototype] compute orientation on segmentation map
  README.md
  doctr/io/elements.py
  doctr/models/_utils.py
  doctr/models/builder.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/predictor/tensorflow.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  scripts/analyze.py
  tests/common/test_io_elements.py
  tests/common/test_models.py
  tests/common/test_models_builder.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, ext: tests, type: breaking change, framework: pytorch, framework: tensorflow, topic: text detection

#1348 TF change antialias to true
  doctr/models/preprocessor/tensorflow.py
  doctr/transforms/modules/tensorflow.py
  tests/tensorflow/test_models_preprocessor_tf.py
  tests/tensorflow/test_transforms_tf.py
Labels: type: enhancement, module: models, ext: tests, framework: tensorflow, topic: text detection

#1389 feat: :sparkles: use `tqdm` instead of `fastprogress` in reference scripts
  pyproject.toml
  references/classification/train_pytorch.py
  references/classification/train_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/obj_detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
  references/requirements.txt
Labels: type: bug, type: enhancement, ext: references, topic: text detection, topic: text recognition, topic: character classification, topic: object detection

#1391 feat: :sparkles: PT Linknet Resnet50 Checkpoint
  doctr/models/detection/linknet/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text detection

#1393 feat: :sparkles: PT Linknet Resnet 34 Checkpoint
  doctr/models/detection/linknet/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text detection
