Repository mindee/doctr, pull requests merged in 2023-08, with the labels that each got.

#1264 [chore] increase version and update maintainers
  pyproject.toml
  setup.py
Labels: topic: build, type: misc

#1280 [demo] update models list for Tf / PT backend
  demo/backend/pytorch.py
  demo/backend/tensorflow.py
Labels: ext: demo, type: misc

#1279 [predictor] aspect ratio true by default
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/models/zoo.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, topic: text detection

#1289 change the way model is saved in ddp
  references/recognition/train_pytorch_ddp.py
Labels: type: bug, ext: references, framework: pytorch, topic: text recognition

#1291 [chore] update to new torchvision API in models as well
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/vgg/pytorch.py
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: module: models, framework: pytorch, type: misc

#1287 [chore]: clean dependencies
  api/pyproject.toml
  pyproject.toml
Labels: topic: build, ext: api, type: misc
