Repository mindee/doctr, pull requests merged in 2023-09, with the labels that each got.

#1305 feat: :sparkles: TF Parseq checkpoint
  doctr/models/recognition/parseq/tensorflow.py
Labels: module: models, framework: tensorflow, topic: text recognition, type: misc

#1306 feat: :sparkles: TF ViTSTR Base checkpoint
  doctr/models/recognition/vitstr/tensorflow.py
Labels: module: models, framework: tensorflow, topic: text recognition, type: misc

#1234 [docs] update benchmark page
  docs/source/using_doctr/using_models.rst
  pyproject.toml
  scripts/evaluate.py
  scripts/evaluate_kie.py
Labels: topic: documentation, benchmark, type: misc, ext: docs

#1309 chore: apply post release modifications v0.7.0
  README.md
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, type: misc

#1310 docs: :pencil2: fix images on pypi
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .pre-commit-config.yaml
  README.md
  docs/images/Logo_doctr.gif
  docs/images/demo_illustration_mini.png
  docs/images/demo_update.png
  docs/images/doctr-need-help.png
  docs/images/doctr_demo_app.png
  docs/images/doctr_example_script.gif
  docs/images/ocr.png
  docs/images/synthesized_sample.png
  notebooks/README.rst
Labels: topic: documentation, type: misc, ext: docs

#1319 feat: :sparkles: PT ViTSTR Small Checkpoint
  doctr/models/recognition/vitstr/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text recognition

#1313 Update Dockerfile (GPU Support, Workdir, Permissions)
  Dockerfile
Labels: topic: docker, type: misc

#1324 [FIX] antialising in PreProcessor
  doctr/models/preprocessor/pytorch.py
Labels: type: bug, module: models, framework: pytorch

#1328 [scripts] Add backbone freeze for recognition scripts and update augmentations also for DDP script
  references/detection/train_pytorch.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
Labels: type: enhancement, ext: references, framework: pytorch, framework: tensorflow, topic: text detection, topic: text recognition

#1327 [Fix] prob computation for parseq and vitstr models
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: text recognition

#1323 [PyTorch] replace no_grad with inference_mode
  doctr/models/classification/predictor/pytorch.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/predictor/pytorch.py
  doctr/models/recognition/predictor/pytorch.py
  references/classification/latency_pytorch.py
  references/detection/evaluate_pytorch.py
  references/detection/latency_pytorch.py
  references/obj_detection/latency_pytorch.py
  references/recognition/evaluate_pytorch.py
  references/recognition/latency_pytorch.py
  scripts/detect_artefacts.py
Labels: type: enhancement, module: models, ext: references, framework: pytorch, topic: text detection, topic: text recognition

#1322 feat: :sparkles: Official docker images for docTR
  .github/workflows/docker.yml
  .github/workflows/public_docker_images.yml
  Dockerfile
  README.md
Labels: type: enhancement, topic: docker, os: linux, type: new feature

#1335 [FIX] clip overflowing probs
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: text recognition
