Repository mindee/doctr, pull requests merged in 2023-05, with the labels that each got.

#1190 [FIX] Error in unpacking archive of CORD dataset
  doctr/datasets/cord.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: type: bug, ext: tests, module: datasets

#1199 [datasets] Add IIIT HWS dataset
  docs/source/index.rst
  docs/source/modules/datasets.rst
  docs/source/using_doctr/using_datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/iiithws.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: topic: documentation, type: enhancement, ext: tests, module: datasets, ext: docs

#1184 [build] drop py3.6/3.7 support and update CI default to py3.8/3.9
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/doc-status.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  README.md
  docs/source/getting_started/installing.rst
  pyproject.toml
Labels: topic: build, topic: ci, type: misc
