Repository mindee/doctr, pull requests merged in 2023-06, with the labels that each got.

#1201 [CI] change old cache action and skip TF classification onnx export temporarily
  .github/workflows/main.yml
  Makefile
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  pyproject.toml
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: topic: ci, ext: tests, topic: onnx, type: misc

#1212 [Fix] add missing mean/std defaults, add missing weight init for sar
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
Labels: module: models, type: misc

#1219 speed up VIT models and fix patch size
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/factory/hub.py
  doctr/models/modules/vision_transformer/pytorch.py
  doctr/models/modules/vision_transformer/tensorflow.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
  tests/pytorch/test_models_factory.py
Labels: type: bug, type: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: character classification

#1221 [classification] vit and magc_resnet checkpoints
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
Labels: module: models, framework: pytorch, framework: tensorflow, topic: character classification, type: misc

#1204 [Feat] Predictor precision PT backend
  doctr/models/classification/predictor/pytorch.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/predictor/pytorch.py
  doctr/models/utils/pytorch.py
  doctr/models/zoo.py
  tests/pytorch/test_models_utils_pt.py
Labels: module: models, framework: pytorch, topic: text detection, topic: text recognition, type: new feature

#1227 [Fix] PARSeq pytorch fixes
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/vitstr/pytorch.py
Labels: type: bug, module: models, framework: pytorch, topic: text recognition

#1228 [Fix] PARSeq tensorflow fixes
  doctr/models/recognition/parseq/tensorflow.py
Labels: type: bug, module: models, framework: tensorflow

#1229 [tests/bug] improve tests and fix a minor bug
  .github/workflows/main.yml
  doctr/file_utils.py
  doctr/io/image/tensorflow.py
  doctr/models/factory/hub.py
  doctr/models/recognition/utils.py
  tests/common/test_core.py
  tests/common/test_datasets_utils.py
  tests/common/test_io.py
  tests/common/test_models_recognition_utils.py
  tests/pytorch/test_io_image_pt.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_io_image_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: type: enhancement, module: models, ext: tests, framework: pytorch, framework: tensorflow

#1232 [fix/chore] fix bug in tf det eval script / update dep version specifier
  pyproject.toml
  references/detection/evaluate_tensorflow.py
Labels: type: bug, ext: references, framework: tensorflow, topic: text detection
