Repository mindee/doctr, pull requests merged in 2024-04, with the labels that each got.

#1522 [API] update api for multi file and pdf support
  .github/workflows/docker.yml
  api/Dockerfile
  api/Makefile
  api/README.md
  api/app/routes/detection.py
  api/app/routes/kie.py
  api/app/routes/ocr.py
  api/app/routes/recognition.py
  api/app/schemas.py
  api/app/utils.py
  api/app/vision.py
  api/docker-compose.yml
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/routes/test_detection.py
  api/tests/routes/test_kie.py
  api/tests/routes/test_ocr.py
  api/tests/routes/test_recognition.py
  api/tests/utils/test_utils.py
  api/tests/utils/test_vision.py
  doctr/datasets/generator/base.py
  doctr/io/image/pytorch.py
  doctr/io/image/tensorflow.py
Labels: type: enhancement, ext: api

#1546 [feature] Add word crop general orientation to output
  api/README.md
  api/app/routes/kie.py
  api/app/routes/ocr.py
  api/app/schemas.py
  api/tests/conftest.py
  api/tests/routes/test_kie.py
  api/tests/routes/test_ocr.py
  docs/source/using_doctr/using_models.rst
  doctr/io/elements.py
  doctr/models/builder.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/classification/predictor/tensorflow.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  tests/common/test_io_elements.py
  tests/common/test_models_builder.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: topic: documentation, type: enhancement, module: models, module: io, ext: api, ext: docs

#1548 [Fix] crop orientation KIE
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
Labels: type: bug, module: models

#1559 [Fix] allign orientation train script to current orientation model (counter clockwise instead of clockwise) & make OrientationPredictor dynamic
  docs/source/modules/models.rst
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/classification/predictor/tensorflow.py
  doctr/models/classification/zoo.py
  doctr/models/kie_predictor/base.py
  doctr/models/predictor/base.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_orientation.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: type: bug, type: enhancement, module: models, ext: references, topic: character classification

#1558 [CI] update CI actions
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/doc-status.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
Labels: topic: ci, type: misc

#1551 Exclude deps & split into optional parts
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/public_docker_images.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/scripts.yml
  README.md
  docs/README.md
  docs/source/getting_started/installing.rst
  doctr/file_utils.py
  doctr/io/elements.py
  doctr/io/html.py
  doctr/io/reader.py
  doctr/utils/reconstitution.py
  doctr/utils/visualization.py
  pyproject.toml
  references/requirements.txt
  tests/common/test_core.py
  tests/common/test_utils_reconstitution.py
  tests/common/test_utils_visualization.py
Labels: topic: documentation, topic: build, topic: ci, module: utils, os: windows, os: mac, type: misc, ext: docs

#1561 [metrics] speed up polygon iou (for --rotation) by keeping balanced memory footprint
  doctr/utils/metrics.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/requirements.txt
  scripts/evaluate.py
  scripts/evaluate_kie.py
  tests/common/test_utils_metrics.py
Labels: type: enhancement, module: utils, ext: references, topic: text detection

#1534 [prototype] object det replacement / init contrib modules
  .github/workflows/main.yml
  .github/workflows/public_docker_images.yml
  .github/workflows/references.yml
  docs/source/getting_started/installing.rst
  docs/source/index.rst
  docs/source/modules/contrib.rst
  docs/source/using_doctr/using_contrib_modules.rst
  doctr/__init__.py
  doctr/contrib/__init__.py
  doctr/contrib/artefacts.py
  doctr/contrib/base.py
  doctr/models/__init__.py
  doctr/models/artefacts/__init__.py
  doctr/models/artefacts/barcode.py
  doctr/models/artefacts/face.py
  doctr/models/factory/hub.py
  doctr/models/obj_detection/__init__.py
  doctr/models/obj_detection/faster_rcnn/__init__.py
  doctr/models/obj_detection/faster_rcnn/pytorch.py
  pyproject.toml
  scripts/detect_artefacts.py
  tests/common/test_contrib.py
  tests/common/test_models_artefacts.py
  tests/conftest.py
  tests/pytorch/test_models_factory.py
  tests/pytorch/test_models_obj_detection_pt.py
Labels: topic: documentation, topic: ci, ext: tests, topic: onnx, topic: object detection, type: new feature, ext: docs

#1568 [references] remove missed parts of old obj det
  references/obj_detection/latency_pytorch.py
  references/obj_detection/train_pytorch.py
  references/obj_detection/utils.py
Labels: ext: references, type: misc

#1567 [orientation] augment angle while training
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_orientation.py
Labels: type: enhancement, ext: references, topic: character classification

#1566 [orientation] Part 1: Add page orientation predictor
  docs/source/modules/models.rst
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/classification/predictor/tensorflow.py
  doctr/models/classification/zoo.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
Labels: topic: documentation, type: enhancement, module: models, ext: tests, topic: character classification

#1571 feat: :sparkles: torch mobilenet_v3_small_crop_orientation
  doctr/models/classification/mobilenet/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: character classification

#1573 feat: :sparkles: improve mobilenet_v3_page_orientation checkpoint
  doctr/models/classification/mobilenet/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: character classification

#1569 [tests/onnx] Add onnx and model out check
  .github/workflows/main.yml
  Makefile
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: ext: tests, framework: pytorch, framework: tensorflow, topic: onnx, type: misc

#1574 [transforms] Add RandomResize (like ZoomOut)
  docs/source/modules/transforms.rst
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: type: enhancement, ext: tests, module: transforms, ext: docs
