Repository mindee/doctr, pull requests merged in 2024-01, with the labels that each got.

#1419 [FIX] Fix mypy errors
  doctr/datasets/imgur5k.py
  doctr/models/_utils.py
  doctr/models/detection/core.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/linknet/base.py
  doctr/transforms/functional/base.py
  doctr/utils/geometry.py
  doctr/utils/metrics.py
Labels: type: bug, topic: ci, type: code quality

#1421 fix: :bug: add sqlite dependency
  Dockerfile
Labels: type: enhancement, topic: docker

#1424 feat: :sparkles: new TF Linknet Resnet checkpoints
  doctr/models/detection/linknet/tensorflow.py
Labels: type: enhancement, module: models, framework: tensorflow, topic: text detection

#1396 [FIX] db loss TF and PT also for training with rotated samples
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/linknet/tensorflow.py
Labels: type: bug, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#1433 feat: :sparkles: PT db_resnet34 checkpoint
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text detection

#1432 [references] TF / PT crop & document orientation classifier train scripts
  .github/workflows/references.yml
  doctr/datasets/__init__.py
  doctr/datasets/orientation.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/transforms/functional/tensorflow.py
  references/classification/README.md
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_orientation.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: topic: documentation, type: enhancement, topic: ci, module: datasets, ext: references, framework: pytorch, framework: tensorflow, topic: character classification

#1436 [PT] remove submodule from textnet arch
  doctr/models/classification/textnet/pytorch.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: type: enhancement, module: models, framework: pytorch, topic: character classification
