Repository mindee/doctr, pull requests merged in 2024-12, with the labels that each got.

#1807 [build] Fix tensorflow build dep
  pyproject.toml
Labels: type: bug, topic: build, framework: tensorflow, os: windows

#1809 fix: :bug: sanitize docker tag step
  .github/workflows/public_docker_images.yml
Labels: type: bug, topic: ci, topic: docker

#1791 [Feat] Add torch.compile support
  .pre-commit-config.yaml
  docs/source/using_doctr/using_model_export.rst
  docs/source/using_doctr/using_models.rst
  doctr/models/classification/zoo.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/utils.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/zoo.py
  doctr/models/utils/pytorch.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/pytorch/test_models_zoo_pt.py
Labels: topic: documentation, module: models, framework: pytorch, topic: text detection, topic: text recognition, topic: character classification, type: new feature, ext: docs

#1813 [Bug] Fix vocabs and add corresponding test case
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
  tests/common/test_datasets_vocabs.py
Labels: type: bug, topic: documentation, ext: tests, module: datasets

#1820 feat: :sparkles: specify `output_dir` in reference scripts
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/detection/train_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
Labels: type: enhancement, ext: references, topic: text detection, topic: text recognition, topic: character classification

#1822 [Bug] Replace mem leaking torch gaussian_blur in augmentations
  .pre-commit-config.yaml
  doctr/transforms/functional/pytorch.py
  doctr/transforms/modules/pytorch.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  tests/pytorch/test_transforms_pt.py
Labels: type: bug, ext: references, module: transforms, framework: pytorch

#1824 [docs] Tiny documentation export page fix
  docs/source/using_doctr/using_model_export.rst
Labels: topic: documentation, type: misc, ext: docs

#1825 [references] Unify sched + optim config and add AdamW as option
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/detection/train_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
  tests/pytorch/test_transforms_pt.py
Labels: type: enhancement, ext: references, framework: pytorch, framework: tensorflow, topic: text detection, topic: text recognition, topic: character classification
