Repository mindee/doctr, pull requests merged in 2024-06, with the labels that each got.

#1631 [benchmark] db_mobilenet_v3_large PyTorch
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, benchmark, ext: docs

#1632 feat: :sparkles: torch db_mobilenet_v3_large checkpoint
  doctr/models/detection/differentiable_binarization/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch

#1627 [detection] move padding removal directly to detection
  api/README.md
  api/tests/conftest.py
  doctr/datasets/imgur5k.py
  doctr/models/_utils.py
  doctr/models/detection/_utils/__init__.py
  doctr/models/detection/_utils/base.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/linknet/base.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/detection/predictor/tensorflow.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/transforms/functional/base.py
  doctr/utils/geometry.py
  tests/common/test_models_detection_utils.py
Labels: type: enhancement, module: models, ext: api, topic: text detection

#1636 feat: ✨ tf mobilenet_v3_small_page_orientation checkpoint
  doctr/models/classification/mobilenet/tensorflow.py
  tests/tensorflow/test_models_classification_tf.py
Labels: type: enhancement, module: models, framework: tensorflow, topic: character classification

#1635 [bug] remove TF multiprocessing workers
  doctr/datasets/loader.py
  doctr/models/preprocessor/tensorflow.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: type: bug, module: models, ext: references, framework: tensorflow

#1625 [builder] Add objectness scores
  api/README.md
  api/app/routes/detection.py
  api/app/routes/kie.py
  api/app/routes/ocr.py
  api/app/schemas.py
  api/tests/conftest.py
  api/tests/routes/test_kie.py
  api/tests/routes/test_ocr.py
  docs/source/using_doctr/using_models.rst
  doctr/io/elements.py
  doctr/models/builder.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/linknet/base.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/utils/geometry.py
  tests/common/test_io_elements.py
  tests/common/test_models_builder.py
  tests/common/test_models_detection.py
  tests/common/test_utils_geometry.py
Labels: topic: documentation, type: enhancement, module: models, module: utils, ext: tests, ext: api, topic: text detection, ext: docs

#1624 [IO] Pdf File close after opening
  .conda/meta.yaml
  doctr/io/pdf.py
  pyproject.toml
Labels: type: bug, topic: build, module: io

#1639 [bug] exclude scores if rot and eval straight
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: type: bug, ext: references, topic: text detection

#1641 [mypy] Add py.typed
  doctr/py.typed
  pyproject.toml
Labels: topic: build, type: code quality

#1553 [orientation] page orientation improvements
  doctr/models/_utils.py
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/kie_predictor/base.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  tests/common/test_models.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, type: code quality
