Repository mindee/doctr, pull requests merged in 2024-02, with the labels that each got.

#1447 [FIX] Fix streamlit demo
  demo/app.py
Labels: type: bug, ext: demo

#1444 [references] Add poly scheduler for detection training
  doctr/models/detection/differentiable_binarization/pytorch.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: type: enhancement, ext: references, framework: pytorch, framework: tensorflow, topic: text detection

#1414 feat: Adds conda recipe & corresponding CI jobs
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/publish.yml
Labels: topic: build, type: new feature

#1454 [references] Add interval saving for detection trainings
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
Labels: type: enhancement, ext: references, topic: text detection

#1465 feat: :sparkles: PT db_resnet50 checkpoint
  doctr/models/detection/differentiable_binarization/pytorch.py
  tests/pytorch/test_models_zoo_pt.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text detection

#1469 [Misc] rename char classifiation scripts and dependency pin
  .conda/meta.yaml
  .github/workflows/references.yml
  api/pyproject.toml
  doctr/models/detection/differentiable_binarization/pytorch.py
  pyproject.toml
  references/classification/README.md
  references/classification/latency.csv
  references/classification/train_pytorch_character.py
  references/classification/train_tensorflow_character.py
  references/detection/latency.csv
  references/detection/results.csv
  references/obj_detection/latency.csv
  references/recognition/latency.csv
Labels: topic: build, ext: references, topic: character classification, type: misc

#1471 [Fix] Catch Divide by zero explicit
  doctr/utils/geometry.py
  tests/common/test_utils_geometry.py
Labels: type: bug, module: utils

#1479 read labels in utf-8 and log input string on vocab error
  doctr/datasets/recognition.py
  doctr/datasets/utils.py
  references/recognition/README.md
Labels: topic: documentation, type: enhancement, module: datasets, topic: text recognition

#1483 feat: :sparkles: TF db mobilenet v3 large new ckpt
  doctr/models/detection/differentiable_binarization/tensorflow.py
Labels: type: enhancement, module: models, framework: tensorflow, topic: text detection

#1321 [Docs] add PyTorch / TensorFlow benchmarks
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, module: models, benchmark, framework: pytorch, topic: text detection, topic: text recognition, type: misc, ext: docs

#1486 [Docs] extend doc with DocumentBuilder options
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, type: enhancement

#1487 feat: ✨ TF db mobilenet v3 large new ckpt
  doctr/models/detection/differentiable_binarization/tensorflow.py
Labels: type: enhancement, module: models, framework: tensorflow, topic: text detection

#1488 [misc] rename channel
  .github/workflows/publish.yml
Labels: type: misc

#1489 chore: apply post release modifications v0.8.0
  .conda/meta.yaml
  .github/workflows/publish.yml
  README.md
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, type: misc

#1443 [TF/PT] Add FAST detection model
  README.md
  demo/backend/pytorch.py
  demo/backend/tensorflow.py
  docs/source/index.rst
  docs/source/modules/models.rst
  docs/source/using_doctr/using_models.rst
  doctr/models/detection/__init__.py
  doctr/models/detection/fast/__init__.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/detection/zoo.py
  tests/common/test_models_detection.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: topic: documentation, module: models, framework: pytorch, framework: tensorflow, topic: text detection, type: new feature

#1482 [Docs] conda install doc
  docs/source/getting_started/installing.rst
Labels: topic: documentation, type: enhancement, ext: docs
