Repository mindee/doctr, pull requests merged in 2024-08, with the labels that each got.

#1686 [misc] update README & fix mypy & change resolve blocks default
  README.md
  api/app/schemas.py
  docs/source/using_doctr/using_models.rst
  doctr/models/builder.py
  doctr/utils/fonts.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: module: models, ext: tests, type: breaking change, ext: api, type: misc, ext: docs

#1687 [Datasets] Add hindi & bangla vocabs
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs

#1689 [misc] post release 0.9.1
  .conda/meta.yaml
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: type: misc

#1693 [Datasets] Add Vietnamese letters
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs

#1700 feat: added ukrainian vocab
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets

#1697 [Bug] fix straighten pages
  doctr/models/builder.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/modules/vision_transformer/pytorch.py
  doctr/models/modules/vision_transformer/tensorflow.py
  doctr/models/predictor/base.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
Labels: type: bug, module: models, topic: text detection

#1708 [orientation] Enable usage of custom trained orientation models
  docs/source/using_doctr/custom_models_training.rst
  doctr/datasets/vocabs.py
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/zoo.py
  doctr/models/factory/hub.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: topic: documentation, type: enhancement, module: models, ext: tests, ext: references, topic: character classification, ext: docs
