Repository mindee/doctr, pull requests merged in 2024-11, with the labels that each got.

#1765 [models] Change Resize kwargs to args for each zoo predictor
  CONTRIBUTING.md
  doctr/models/classification/zoo.py
  doctr/models/detection/zoo.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/preprocessor/tensorflow.py
  doctr/models/recognition/zoo.py
Labels: type: enhancement, module: models, ext: tests, ext: references, topic: text detection

#1766 [Docs] Add community docs
  docs/source/community/resources.rst
  docs/source/index.rst
Labels: topic: documentation, type: enhancement, ext: docs

#1770 [build] Upgrade py 3.10
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/doc-status.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/public_docker_images.yml
  .github/workflows/publish.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  README.md
  api/Dockerfile
  api/pyproject.toml
  docs/source/getting_started/installing.rst
  doctr/models/_utils.py
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/linknet/base.py
  doctr/utils/geometry.py
  pyproject.toml
  references/detection/utils.py
Labels: topic: build, topic: ci, type: misc

#1783 [CI/code quality] Add clear github runner caches job + mypy fixes
  .github/workflows/clear_caches.yml
  .github/workflows/style.yml
  doctr/datasets/datasets/pytorch.py
  doctr/io/image/pytorch.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/predictor/pytorch.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/modules/layers/pytorch.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/predictor/pytorch.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/utils/pytorch.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/modules/pytorch.py
Labels: topic: ci, type: misc, type: code quality

#1781 [Fix] documentation deploy CI/CD job
  .github/workflows/docs.yml
  docs/source/changelog.rst
Labels: type: bug, topic: ci

#1768 [CI/CD] update Dependabot
  .github/dependabot.yml
Labels: type: enhancement, topic: ci

#1786 [CI] Fix PR labeler job & Rollback doc deploy deps
  .github/workflows/docs.yml
  .github/workflows/pr-labels.yml
Labels: type: bug, topic: ci

#1789 [CI] public docker job - change commit tag to version
  .github/workflows/public_docker_images.yml
Labels: topic: ci, type: misc

#1777 adding pytorch DDP script of detection task
  references/detection/README.md
  references/detection/train_pytorch_DDP.py
Labels: topic: documentation, type: enhancement, ext: references, framework: pytorch, topic: text detection

#1793 [misc] Small DDP script adjustments
  references/detection/README.md
  references/detection/train_pytorch_ddp.py
  references/recognition/train_pytorch_ddp.py
Labels: topic: documentation, ext: references, type: misc

#1800 docs: fix faulty code for prediction and recognition demos
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, type: enhancement, ext: docs
