Repository mindee/doctr, pull requests merged in 2024-05, with the labels that each got.

#1577 [references] Update detection augmentations
  doctr/transforms/modules/base.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  tests/common/test_transforms.py
Labels: type: enhancement, ext: references, module: transforms, framework: pytorch, framework: tensorflow, topic: text detection

#1585 [FIX] parseq onnx export
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: type: bug, module: models, ext: tests, topic: text recognition, topic: onnx

#1583 [TF] add fast models and benchmarks
  docs/source/using_doctr/using_models.rst
  doctr/models/detection/fast/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: topic: documentation, type: enhancement, module: models, benchmark, framework: tensorflow, topic: text detection, ext: docs

#1584 [transforms] small random resize improvement
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: type: enhancement, module: transforms

#1588 [models] Change default model to `fast_base` - soft breaking change
  demo/backend/pytorch.py
  demo/backend/tensorflow.py
  doctr/models/detection/zoo.py
  doctr/models/zoo.py
  scripts/analyze.py
  scripts/detect_text.py
  tests/pytorch/test_models_zoo_pt.py
  tests/tensorflow/test_models_zoo_tf.py
Labels: type: enhancement, module: models, ext: tests, type: breaking change, ext: demo, framework: pytorch, framework: tensorflow, topic: text detection

#1598 [Fix] close PIL images when loading images to tensor/numpy
  doctr/datasets/utils.py
  doctr/io/image/pytorch.py
Labels: type: bug, module: io

#1603 [conda] Fix meta.yaml package function name
  .conda/meta.yaml
Labels: type: bug, topic: build, topic: ci

#1601 [docs] Add onnx inference doc
  docs/source/using_doctr/using_model_export.rst
Labels: topic: documentation, type: enhancement, topic: onnx, ext: docs

#1503 [Fix] Pin py3.11 for MacOS latest / update publish version checks
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/publish.yml
  .github/workflows/scripts.yml
Labels: topic: ci, type: misc
