Repository mindee/doctr, pull requests merged in 2024-03, with the labels that each got.

#1492 fix typo
  references/recognition/train_pytorch.py
Labels: topic: documentation, ext: references, type: misc

#1493 patch release 0.8.1
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/publish.yml
  README.md
  api/pyproject.toml
  docs/source/getting_started/installing.rst
  pyproject.toml
  setup.py
Labels: topic: documentation, topic: build, topic: ci, type: misc, ext: docs

#1494 [models] Unleash FAST model (reparameterization logic)
  docs/source/using_doctr/using_models.rst
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/modules/layers/pytorch.py
  doctr/models/modules/layers/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: topic: documentation, type: enhancement, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#1498 [misc] apply 0.8.1 post release modifications
  .conda/meta.yaml
  README.md
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: type: misc

#1500 [models] Tune FAST pooling size
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
Labels: module: models, framework: pytorch, framework: tensorflow, topic: text detection

#1506 [FIX] Fix mistake in FASTConvLayer and tf reparameterization
  doctr/models/classification/textnet/pytorch.py
  doctr/models/classification/textnet/tensorflow.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/modules/layers/pytorch.py
  doctr/models/modules/layers/tensorflow.py
  tests/pytorch/test_models_detection_pt.py
  tests/tensorflow/test_models_detection_tf.py
Labels: type: bug, topic: ci, module: models, framework: pytorch, framework: tensorflow, topic: text detection

#1509 Replace unidecode with text-unidecode.
  .conda/meta.yaml
  doctr/utils/metrics.py
  doctr/utils/visualization.py
  pyproject.toml
  tests/common/test_utils_metrics.py
Labels: topic: build, module: utils, type: misc

#1510 [misc] update dev deps
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  references/classification/latency_pytorch.py
  references/classification/latency_tensorflow.py
  references/detection/latency_pytorch.py
  references/detection/latency_tensorflow.py
  references/obj_detection/latency_pytorch.py
  references/recognition/latency_pytorch.py
  references/recognition/latency_tensorflow.py
Labels: topic: build, type: misc, type: code quality

#1513 [Fix] sar_resnet31 TF + PT
  docs/source/using_doctr/using_models.rst
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
Labels: type: bug, topic: documentation, module: models, framework: pytorch, framework: tensorflow, topic: text recognition, ext: docs

#1514 [docs] documentation for changing predictors batch sizes
  docs/source/using_doctr/using_models.rst
  doctr/models/classification/zoo.py
  doctr/models/detection/zoo.py
  doctr/models/recognition/zoo.py
Labels: topic: documentation, type: enhancement, module: models, ext: docs

#1519 [models] Add benchmark fast_tiny and reparameterize by default
  docs/source/using_doctr/using_models.rst
  doctr/models/detection/fast/base.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/detection/zoo.py
Labels: topic: documentation, type: enhancement, module: models, benchmark, topic: text detection

#1523 [benchmark] fast base pytorch
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, benchmark, type: misc, ext: docs

#1526 feat: :sparkles: PT fast base checkpoint
  doctr/models/detection/fast/pytorch.py
Labels: type: enhancement, module: models, framework: pytorch, topic: text detection

#1527 [benchmark] fast small benchmark
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, benchmark, topic: text detection, type: misc, ext: docs

#1457 [Misc] drop py 3.8 support
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/demo.yml
  .github/workflows/doc-status.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/main.yml
  .github/workflows/public_docker_images.yml
  .github/workflows/publish.yml
  .github/workflows/pull_requests.yml
  .github/workflows/references.yml
  .github/workflows/scripts.yml
  .github/workflows/style.yml
  README.md
  api/pyproject.toml
  docs/source/getting_started/installing.rst
  doctr/datasets/datasets/pytorch.py
  doctr/io/image/pytorch.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/modules/layers/pytorch.py
  doctr/models/modules/transformer/pytorch.py
  doctr/models/predictor/pytorch.py
  doctr/models/preprocessor/pytorch.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/transforms/functional/pytorch.py
  doctr/transforms/modules/pytorch.py
  pyproject.toml
Labels: topic: build, topic: ci, topic: docker, type: misc
