Repository mindee/doctr, pull requests merged in 2024-10, with the labels that each got.

#1724 [TF] First changes on the road to Keras v3
  docs/source/using_doctr/custom_models_training.rst
  docs/source/using_doctr/using_model_export.rst
  doctr/io/image/tensorflow.py
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/predictor/tensorflow.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/classification/textnet/tensorflow.py
  doctr/models/classification/vgg/tensorflow.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/detection/predictor/tensorflow.py
  doctr/models/factory/hub.py
  doctr/models/modules/layers/tensorflow.py
  doctr/models/modules/transformer/tensorflow.py
  doctr/models/modules/vision_transformer/tensorflow.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/utils/tensorflow.py
  pyproject.toml
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_factory.py
  tests/tensorflow/test_models_recognition_tf.py
  tests/tensorflow/test_models_utils_tf.py
Labels: topic: documentation, module: models, ext: tests, type: breaking change, framework: tensorflow, type: misc, ext: docs

#1717 [datasets] Allow detection task for built-in datasets
  Makefile
  docs/source/using_doctr/using_datasets.rst
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/imgur5k.py
  doctr/datasets/sroie.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  doctr/datasets/utils.py
  doctr/datasets/wildreceipt.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: type: bug, topic: documentation, type: enhancement, ext: tests, module: datasets, ext: references, framework: pytorch, framework: tensorflow, topic: text detection, ext: docs

#1715 [Bug] Fix eval scripts + possible overflow in Resize
  api/app/vision.py
  doctr/transforms/modules/pytorch.py
  doctr/transforms/modules/tensorflow.py
  references/classification/latency_tensorflow.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_tensorflow.py
  references/detection/latency_tensorflow.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/latency_tensorflow.py
  references/recognition/train_tensorflow.py
  scripts/analyze.py
  scripts/detect_text.py
  scripts/evaluate.py
  scripts/evaluate_kie.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: type: bug, module: transforms, framework: pytorch, framework: tensorflow

#1742 [demo] Automate doctr demo update via CI job
  .github/workflows/demo.yml
  demo/README.md
  demo/packages.txt
Labels: type: enhancement, topic: ci, ext: demo

#1744 [TF] Move model building & unify train scripts
  .github/workflows/references.yml
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/classification/textnet/tensorflow.py
  doctr/models/classification/vgg/tensorflow.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/factory/hub.py
  doctr/models/preprocessor/tensorflow.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/utils/tensorflow.py
  references/classification/README.md
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/README.md
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/detection/utils.py
  references/recognition/README.md
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_tensorflow.py
Labels: topic: documentation, type: enhancement, topic: ci, module: models, ext: references, framework: tensorflow

#1751 [demo] Add missing viz dep for demo
  demo/pt-requirements.txt
  demo/tf-requirements.txt
Labels: type: bug, ext: demo

#1747 [Build] update minor version & update torch to >= 2.0
  .conda/meta.yaml
  README.md
  docs/source/getting_started/installing.rst
  pyproject.toml
  setup.py
Labels: topic: build, type: breaking change, type: misc

#1755 [demo/docs] Update notebook docs & minor demo update / fix
  demo/app.py
  demo/backend/pytorch.py
  demo/backend/tensorflow.py
  demo/packages.txt
  doctr/io/elements.py
  doctr/models/utils/pytorch.py
  notebooks/README.rst
Labels: topic: documentation, type: enhancement, ext: demo, ext: notebooks

#1750 [Reconstitution] Improve reconstitution
  doctr/io/elements.py
  doctr/utils/reconstitution.py
  tests/common/test_utils_reconstitution.py
Labels: type: enhancement, module: utils, ext: tests

#1756 [misc] post release modifications v0.10.0
  .conda/meta.yaml
  README.md
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: documentation, topic: build, ext: api, type: misc, ext: docs

#1758 Typo fix in train_pytorch.py
  references/detection/train_pytorch.py
Labels: ext: references, type: code quality

#1760 Introducing docTR Guru on Gurubase.io
  README.md
Labels: topic: documentation, side-project, type: misc

#1762 [tests/style] Fix tf test and formatting
  .pre-commit-config.yaml
  doctr/datasets/datasets/pytorch.py
  doctr/datasets/datasets/tensorflow.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/transforms/functional/tensorflow.py
  doctr/utils/data.py
  doctr/utils/metrics.py
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
  tests/pytorch/test_transforms_pt.py
  tests/tensorflow/test_transforms_tf.py
Labels: ext: tests, framework: tensorflow, type: misc, type: code quality

#1763 [TF] Change eager mode
  doctr/file_utils.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/utils/tensorflow.py
Labels: type: enhancement, module: models, framework: tensorflow
