Repository mindee/doctr, pull requests merged in 2025-01, with the labels that each got.

#1837 feat: :sparkles: tqdm slack
  references/classification/README.md
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/README.md
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/detection/train_tensorflow.py
  references/recognition/README.md
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
  references/requirements.txt
Labels: topic: documentation, ext: references, framework: pytorch, framework: tensorflow, type: new feature

#1839 [docs] Add note about labeling tool to training section
  .pre-commit-config.yaml
  docs/source/using_doctr/custom_models_training.rst
Labels: topic: documentation, type: new feature, ext: docs

#1842 [CI/CD] Replace deprecated parts conda & publish
  .github/workflows/builds.yml
  .github/workflows/publish.yml
Labels: topic: build, topic: ci, type: misc

#1845 Adding Gujarati Language support
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs

#1847 [references] Update Logging
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
Labels: type: enhancement, ext: references, framework: pytorch, framework: tensorflow, topic: text detection, topic: text recognition, topic: character classification

#1852 [Fix] Fix tqdm slack message write : monkeypatch
  .pre-commit-config.yaml
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
Labels: type: bug, ext: references, topic: text detection, topic: text recognition, topic: character classification

#1858 [misc] Increase minor version to v0.11.0
  .conda/meta.yaml
  README.md
  setup.py
Labels: topic: build, type: misc

#1859 [Fix] Fix loading targets in WILDRECEIPT init
  doctr/datasets/wildreceipt.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: type: bug, module: datasets

#1860 [misc] post release v0.11.0 & public docker cron job adjustment
  .conda/meta.yaml
  .github/workflows/docs.yml
  .github/workflows/public_docker_images.yml
  .github/workflows/pull_requests.yml
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, topic: ci, topic: docker, type: misc, ext: docs
