Repository mindee/doctr, pull requests merged in 2025-04, with the labels that each got.

#1917 [misc] re-order vocabs & associated doc by languages & script
  docs/source/index.rst
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, module: datasets, type: code quality, ext: docs

#1912 [Feat] PyTorch - VIP backbone and VIPTR recognition module
  README.md
  demo/backend/pytorch.py
  docs/source/index.rst
  docs/source/modules/models.rst
  docs/source/using_doctr/using_models.rst
  doctr/models/classification/__init__.py
  doctr/models/classification/vip/__init__.py
  doctr/models/classification/vip/layers/__init__.py
  doctr/models/classification/vip/layers/pytorch.py
  doctr/models/classification/vip/pytorch.py
  doctr/models/classification/zoo.py
  doctr/models/modules/layers/pytorch.py
  doctr/models/recognition/__init__.py
  doctr/models/recognition/viptr/__init__.py
  doctr/models/recognition/viptr/pytorch.py
  doctr/models/recognition/zoo.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_factory.py
  tests/pytorch/test_models_recognition_pt.py
Labels: topic: documentation, module: models, ext: tests, framework: pytorch, topic: text recognition, type: new feature, ext: docs

#1922 Use OpenCV instead of Shapely to compute area & length
  doctr/models/detection/differentiable_binarization/base.py
  doctr/models/detection/fast/base.py
  doctr/models/detection/linknet/base.py
Labels: type: enhancement, module: models, benchmark, topic: text detection

#1923 [datasets] feat: add croatian vocabulary
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs

#1924 [docs] Fix VIPTR docstring
  doctr/models/recognition/viptr/pytorch.py
Labels: topic: documentation, type: enhancement, module: models

#1927 [Docs] Fix typo in docstring
  doctr/models/detection/differentiable_binarization/base.py
Labels: topic: documentation, module: models, type: misc
