Repository mindee/doctr, pull requests merged in 2025-06, with the labels that each got.

#1945 [misc] Fix mypy & merge test
  .pre-commit-config.yaml
  doctr/datasets/ocr.py
  doctr/models/classification/predictor/pytorch.py
  doctr/models/recognition/parseq/pytorch.py
  tests/pytorch/test_models_recognition_pt.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: ext: tests, type: misc

#1947 [Fix] Fix merge of short strings
  doctr/models/recognition/utils.py
  tests/common/test_models_recognition_utils.py
Labels: type: bug, module: models, ext: tests, topic: text recognition

#1915 [Feat] Simplify and unify model loading - from_pretrained
  .conda/meta.yaml
  .github/workflows/references.yml
  docs/source/using_doctr/custom_models_training.rst
  doctr/models/classification/magc_resnet/pytorch.py
  doctr/models/classification/magc_resnet/tensorflow.py
  doctr/models/classification/mobilenet/pytorch.py
  doctr/models/classification/mobilenet/tensorflow.py
  doctr/models/classification/resnet/pytorch.py
  doctr/models/classification/resnet/tensorflow.py
  doctr/models/classification/textnet/pytorch.py
  doctr/models/classification/textnet/tensorflow.py
  doctr/models/classification/vgg/pytorch.py
  doctr/models/classification/vgg/tensorflow.py
  doctr/models/classification/vip/pytorch.py
  doctr/models/classification/vit/pytorch.py
  doctr/models/classification/vit/tensorflow.py
  doctr/models/detection/differentiable_binarization/pytorch.py
  doctr/models/detection/differentiable_binarization/tensorflow.py
  doctr/models/detection/fast/pytorch.py
  doctr/models/detection/fast/tensorflow.py
  doctr/models/detection/linknet/pytorch.py
  doctr/models/detection/linknet/tensorflow.py
  doctr/models/factory/hub.py
  doctr/models/recognition/crnn/pytorch.py
  doctr/models/recognition/crnn/tensorflow.py
  doctr/models/recognition/master/pytorch.py
  doctr/models/recognition/master/tensorflow.py
  doctr/models/recognition/parseq/pytorch.py
  doctr/models/recognition/parseq/tensorflow.py
  doctr/models/recognition/sar/pytorch.py
  doctr/models/recognition/sar/tensorflow.py
  doctr/models/recognition/viptr/pytorch.py
  doctr/models/recognition/vitstr/pytorch.py
  doctr/models/recognition/vitstr/tensorflow.py
  doctr/models/utils/pytorch.py
  doctr/models/utils/tensorflow.py
  pyproject.toml
  references/classification/train_pytorch_character.py
  references/classification/train_pytorch_orientation.py
  references/classification/train_tensorflow_character.py
  references/classification/train_tensorflow_orientation.py
  references/detection/evaluate_pytorch.py
  references/detection/evaluate_tensorflow.py
  references/detection/train_pytorch.py
  references/detection/train_tensorflow.py
  references/recognition/evaluate_pytorch.py
  references/recognition/evaluate_tensorflow.py
  references/recognition/train_pytorch.py
  references/recognition/train_tensorflow.py
  tests/pytorch/test_models_classification_pt.py
  tests/pytorch/test_models_detection_pt.py
  tests/pytorch/test_models_recognition_pt.py
  tests/pytorch/test_models_utils_pt.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
  tests/tensorflow/test_models_utils_tf.py
Labels: topic: documentation, type: enhancement, topic: build, topic: ci, module: models, ext: tests, type: breaking change, framework: pytorch, framework: tensorflow, ext: docs

#1955 Give instructions on how to enable GPU acceleration on apple silicon
  docs/source/using_doctr/using_models.rst
Labels: topic: documentation, type: enhancement, ext: docs

#1961 Fix: Update min_loss only on improved validation loss to ensure best …
  references/recognition/train_pytorch.py
Labels: type: bug, ext: references, topic: text recognition

#1962 [models] Drop viptr base config
  .pre-commit-config.yaml
  demo/backend/pytorch.py
  docs/source/modules/models.rst
  docs/source/using_doctr/using_models.rst
  doctr/models/recognition/viptr/pytorch.py
  doctr/models/recognition/zoo.py
  references/recognition/train_pytorch.py
  tests/pytorch/test_models_factory.py
  tests/pytorch/test_models_recognition_pt.py
Labels: topic: documentation, module: models, ext: api, framework: pytorch, topic: text recognition, type: misc, ext: docs

#1963 [models] Add viptr tiny checkpoint
  docs/source/using_doctr/using_models.rst
  doctr/models/recognition/viptr/pytorch.py
  tests/pytorch/test_models_factory.py
  tests/pytorch/test_models_recognition_pt.py
Labels: topic: documentation, type: enhancement, module: models, ext: tests, framework: pytorch, topic: text recognition, ext: docs

#1964 [misc] Increase minor version v0.12
  .conda/meta.yaml
  README.md
  setup.py
Labels: topic: build, type: misc

#1965 [misc] post release v0.12.0
  .conda/meta.yaml
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, type: misc, ext: docs

#1966 [bug] Fix viptr onnx export issue
  doctr/models/classification/vip/layers/pytorch.py
Labels: type: bug, module: models, topic: text recognition, topic: onnx

#1971 [Fix] Correct condition for image dilation in orientation estimation
  doctr/models/_utils.py
Labels: type: bug, module: models
