Repository mindee/doctr, pull requests merged in 2025-05, with the labels that each got.

#1937 [CI/CD] Fix conda dependency issue
  .conda/meta.yaml
  .github/workflows/builds.yml
  .github/workflows/publish.yml
Labels: type: bug, topic: ci

#1933 Migrating training scripts to torchrun
  references/detection/README.md
  references/detection/train_pytorch.py
  references/detection/train_pytorch_ddp.py
  references/recognition/README.md
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
Labels: topic: documentation, type: enhancement, ext: references, framework: pytorch, topic: text detection, topic: text recognition

#1928 [datasets] Massively extend the pre-defined vocabs
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, topic: text recognition, ext: docs
