Repository mindee/doctr, pull requests merged in 2025-07, with the labels that each got.

#1980 Update/Fix README.md
  README.md
Labels: topic: documentation

#1981 [CI] Add windows to build ci jobs
  .github/workflows/builds.yml
Labels: type: enhancement, topic: ci, os: windows

#1982 [tests] Add additional tests and clean up missing parts
  README.md
  api/pyproject.toml
  doctr/models/preprocessor/pytorch.py
  doctr/transforms/modules/pytorch.py
  tests/pytorch/test_transforms_pt.py
Labels: module: models, ext: tests, module: transforms, type: code quality

#1986 [misc] post release v1.0.0
  .github/workflows/demo.yml
  api/pyproject.toml
  docs/build.sh
  docs/source/_static/js/custom.js
  docs/source/changelog.rst
  setup.py
Labels: topic: build, type: misc, ext: docs
