Repository mindee/doctr, pull requests merged in 2025-03, with the labels that each got.

#1885 [Docs] Fix typos
  CONTRIBUTING.md
  docs/source/using_doctr/using_datasets.rst
  docs/source/using_doctr/using_models.rst
  doctr/datasets/loader.py
  doctr/datasets/recognition.py
  doctr/datasets/utils.py
  doctr/utils/data.py
  references/detection/README.md
  tests/common/test_core.py
  tests/common/test_utils_data.py
Labels: topic: documentation, type: enhancement, ext: docs

#1888 [datasets] COCO-Text V2 integration
  docs/source/index.rst
  docs/source/modules/datasets.rst
  docs/source/using_doctr/using_datasets.rst
  doctr/datasets/__init__.py
  doctr/datasets/coco_text.py
  tests/conftest.py
  tests/pytorch/test_datasets_pt.py
  tests/tensorflow/test_datasets_tf.py
Labels: topic: documentation, ext: tests, module: datasets, type: new feature, ext: docs

#1890 [misc] Code quality fixes
  .pre-commit-config.yaml
  doctr/datasets/coco_text.py
  doctr/models/detection/fast/pytorch.py
  tests/conftest.py
Labels: module: models, module: datasets, type: code quality

#1903 [misc] Avoid tf onnx test to fail the CI & mypy fixes
  .pre-commit-config.yaml
  doctr/models/_utils.py
  doctr/models/kie_predictor/pytorch.py
  doctr/models/kie_predictor/tensorflow.py
  doctr/models/predictor/pytorch.py
  doctr/models/predictor/tensorflow.py
  doctr/utils/geometry.py
  tests/tensorflow/test_models_classification_tf.py
  tests/tensorflow/test_models_detection_tf.py
  tests/tensorflow/test_models_recognition_tf.py
Labels: ext: tests, framework: tensorflow, topic: text recognition, topic: character classification, type: misc

#1902 added russian vocab
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs

#1904 [references] Recognition - Allow built-in datasets usage
  doctr/datasets/cord.py
  doctr/datasets/funsd.py
  doctr/datasets/ic03.py
  doctr/datasets/ic13.py
  doctr/datasets/iiit5k.py
  doctr/datasets/imgur5k.py
  doctr/datasets/svhn.py
  doctr/datasets/svt.py
  doctr/datasets/synthtext.py
  doctr/datasets/utils.py
  references/recognition/train_pytorch.py
  references/recognition/train_pytorch_ddp.py
  references/recognition/train_tensorflow.py
Labels: module: datasets, ext: references, framework: pytorch, framework: tensorflow, topic: text recognition, type: new feature

#1909 [FIXED] Add proper Hebrew Unicode chars vocab
  docs/source/modules/datasets.rst
  doctr/datasets/vocabs.py
Labels: topic: documentation, type: enhancement, module: datasets, ext: docs
